.docPage {
  display: flex;
  width: 100%;
}

.docsWrapper {
  background: linear-gradient(
    to right,
    var(--rvo-color-grijs-100),
    var(--rvo-color-grijs-100) 50%,
    var(--rvo-color-wit) 50%,
    var(--rvo-color-wit)
  );
  display: flex;
}

@media only screen and (max-width: 900px) {
  .docPage {
    padding-inline: var(--rvo-space-md);
  }
}
