.utrecht-form-fieldset--date {
  @media (min-width: 480px) {
    .utrecht-form-field {
      --_utrecht-form-field-min-width: 7ch;
      --_utrecht-form-field-grid-column: auto / span 1;

      & + .utrecht-form-field {
        --_utrecht-form-field-min-width: 7ch;
        --_utrecht-form-field-grid-column: auto / span 1;

        & + .utrecht-form-field {
          --_utrecht-form-field-min-width: 12ch;
          --_utrecht-form-field-grid-column: auto / span 2;
        }
      }
    }
  }
  @media not all and (min-width: 480px) {
    .utrecht-form-field {
      --_utrecht-form-field-min-width: 7ch;
      --_utrecht-form-field-grid-column: auto / span 2;

      & + .utrecht-form-field {
        --_utrecht-form-field-min-width: 7ch;
        --_utrecht-form-field-grid-column: auto / span 2;

        & + .utrecht-form-field {
          --_utrecht-form-field-min-width: 12ch;
          --_utrecht-form-field-grid-column: auto / span 3;
        }
      }
    }
  }
}
