.rvo-content {
  min-width: clamp(375px, 50vw, 768px);
}

.utrecht-data-list {
  border-color: var(--utrecht-data-list-border-color, transparent);
  border-style: solid;
  border-width: var(--utrecht-data-list-border-width, 0);

  &__item {
    &:last-child {
      /* Hide the bottom border of the table */
      margin-block-end: calc(var(--utrecht-data-list-rows-border-bottom-width, 0) * -1);
    }
  }

  &__item-key {
    border-right-color: var(--utrecht-data-list-item-key-border-right-color, transparent);
    border-right-style: solid;
    border-right-width: var(--utrecht-data-list-item-key-border-right-width, 0);
    padding-block-end: var(--utrecht-data-list-item-key-padding-block-end, 0);
    padding-block-start: var(--utrecht-data-list-item-key-padding-block-start, 0);
    padding-inline-end: var(--utrecht-data-list-item-key-padding-inline-end, 0);
    padding-inline-start: var(--utrecht-data-list-item-key-padding-inline-start, 0);
  }

  &__item-value {
    padding-block-end: var(--utrecht-data-list-item-value-padding-block-end, 0);
    padding-block-start: var(--utrecht-data-list-item-value-padding-block-start, 0);
    padding-inline-end: var(--utrecht-data-list-item-value-padding-inline-end, 0);
    padding-inline-start: var(--utrecht-data-list-item-value-padding-inline-start, 0);
  }
}
