.utrecht-form-fieldset--section {
  background-color: var(--utrecht-form-fieldset-section-background-color);
  color: var(--utrecht-form-fieldset-section-color);
  padding-block-end: var(--utrecht-form-fieldset-section-padding-block-end);
  padding-block-start: var(--utrecht-form-fieldset-section-padding-block-start);
  padding-inline-end: var(--utrecht-form-fieldset-section-padding-inline-end);
  padding-inline-start: var(--utrecht-form-fieldset-section-padding-inline-start);
}

.utrecht-form-fieldset {
  &__legend {
    margin-block-end: var(--utrecht-form-fieldset-legend-margin-block-end, 0);
    margin-block-start: var(--utrecht-form-fieldset-legend-margin-block-start, 0);
  }
}
