.basiselementen-theme {
  .rvo-nl-demo-page {
    background-color: var(--basiselementen-color-wit);
    padding-inline: 32px;
    form,
    .utrecht-form-fieldset {
      background-color: var(--basiselementen-color-grijs1);
    }
  }

  .basiselementen-demo-page {
    background-color: var(--basiselementen-color-lichtblauw-tint2);
    padding-block: 32px;
    padding-inline: 32px;

    .utrecht-form-fieldset {
      background-color: var(--basiselementen-color-wit);
      padding-block: 32px;
      padding-inline: 32px;
    }

    .utrecht-form-fieldset__legend {
      font-size: var(--utrecht-form-label-font-size);
    }
    form {
      margin-block-start: 32px;
      margin-inline: auto;
      padding-block: 32px;
      padding-inline: 32px;
      width: min(768px, 100%);
    }
  }
}
.utrecht-form-fieldset--subtle .utrecht-form-label:not(.utrecht-form-fieldset__legend) {
  font-weight: 400;
}
