:where(.basiselementen-demo-page) {
  .utrecht-form-fieldset--grid {
    --utrecht-form-fieldset-display: grid;
    --utrecht-form-fieldset-row-gap: calc(
      (var(--utrecht-form-field-margin-block-end, 1ex) + var(--utrecht-form-field-margin-block-start, 1ex))
    );
    --utrecht-form-fieldset-column-gap: 1ch;
    --utrecht-form-fieldset-grid-template-columns: repeat(12, 1fr);
    --utrecht-form-field-display: grid;
    --utrecht-form-field-align-content: space-between;
    --utrecht-form-field-column-gap: 1ch;
    --utrecht-form-field-grid-column: 1 / -1;
    --utrecht-form-field-row-gap: 1ex;
  }
  .utrecht-form-fieldset--grid fieldset.utrecht-form-fieldset,
  .utrecht-form-fieldset--grid .utrecht-form-fieldset__fieldset {
    column-gap: var(--utrecht-form-fieldset-column-gap, inherit);
    display: var(--utrecht-form-fieldset-display, inherit);
    grid-template-columns: var(--utrecht-form-fieldset-grid-template-columns, 1fr);
    row-gap: var(--utrecht-form-fieldset-row-gap, inherit);
    &:last-of-type,
    &:first-of-type {
      margin-block-start: 0;
    }
    & > * {
      align-content: var(--utrecht-form-field-align-content, initial);
      column-gap: var(--utrecht-form-field-column-gap, inherit);
      display: var(--utrecht-form-field-display, block);
      grid-column: var(--utrecht-form-field-grid-column, none);
      row-gap: var(--utrecht-form-field-row-gap, inherit);
      width: unset;
    }
  }
  div.utrecht-form-fieldset {
    background-color: var(--utrecht-form-fieldset-section-background-color);
    color: var(--utrecht-form-fieldset-section-color);
    margin-block-end: var(--utrecht-form-fieldset-margin-block-end, 0);
    margin-block-start: var(--utrecht-form-fieldset-margin-block-start, 0);
    padding-block-end: var(--utrecht-form-fieldset-padding-block-end);
    padding-block-start: var(--utrecht-form-fieldset-padding-block-start);
    padding-inline-end: var(--utrecht-form-fieldset-padding-inline-end);
    padding-inline-start: var(--utrecht-form-fieldset-padding-inline-start);
  }
  .utrecht-form-fieldset {
    &--subtle .utrecht-form-label {
      font-weight: 400;
    }
    &__legend--label {
      color: var(--utrecht-form-label-color);
      display: block;
      float: none;
      font-size: var(--utrecht-form-label-font-size);
      font-weight: var(--utrecht-form-label-font-weight);
      margin-block-end: var(--utrecht-form-field-label-block-end, 0);
      margin-block-start: var(--utrecht-form-field-label-block-start, 0);
    }
    label:has(input) {
      align-items: center;
      column-gap: var(--utrecht-form-field-column-gap);
      display: flex;
    }
    & div.utrecht-form-fieldset {
      margin-block-end: 0;
      margin-block-start: 0;
      padding-block-end: 0;
      padding-block-start: 0;
      padding-inline-end: 0;
      padding-inline-start: 0;
    }
  }
  .utrecht-form-field {
    clear: both;
    margin-block-end: 0;
    margin-block-start: 0;
    min-width: var(--utrecht-form-field-min-width, unset);
    &--start {
      grid-column-start: 1 !important;
    }
  }
  .utrecht-form-field-description--invalid {
    color: var(--basiselementen-color-rood);
  }
  .utrecht-form-field-description {
    margin-block-end: var(--utrecht-form-field-description-margin-block-end);
    margin-block-start: var(--utrecht-form-field-description-margin-block-start);
  }
}

.utrecht-form-fieldset:not(.utrecht-form-fieldset--grid) .utrecht-form-fieldset__legend {
  margin-block-end: var(--utrecht-form-fieldset-legend-margin-block-end, 0);
  margin-block-start: var(--utrecht-form-fieldset-legend-margin-block-start, 0);
  &--label {
    margin-block-end: var(--utrecht-form-field-margin-block-end, 0);
    margin-block-start: var(--utrecht-form-field-margin-block-start, 0);
  }
}
