/* stylelint-disable */
@mixin small-viewport {
  .utrecht-form-field {
    &--xs {
      --_utrecht-form-field-grid-column: auto / span 3;
    }

    &--sm {
      --_utrecht-form-field-grid-column: auto / span 4;
    }

    &--md {
      --_utrecht-form-field-grid-column: auto / span 6;
    }

    &--lg {
      --_utrecht-form-field-grid-column: 1 / -1;
    }

    &--xl {
      --_utrecht-form-field-grid-column: 1 / -1;
    }

    &--full-1 {
      --_utrecht-form-field-grid-column: auto / span 12;
    }
  }
}
@mixin normal-viewport {
  .utrecht-form-field {
    &--xs {
      --_utrecht-form-field-grid-column: auto / span 2;
    }

    &--sm {
      --_utrecht-form-field-grid-column: auto / span 3;
    }

    &--md {
      --_utrecht-form-field-grid-column: auto / span 4;
    }

    &--lg {
      --_utrecht-form-field-grid-column: auto / span 8;
    }

    &--xl {
      --_utrecht-form-field-grid-column: auto / span 10;
    }

    &--full-1 {
      --_utrecht-form-field-grid-column: auto / span 12;
    }
  }
}
@mixin large-viewport {
  .utrecht-form-field {
    &--xs {
      --_utrecht-form-field-grid-column: auto / span 1;
    }

    &--sm {
      --_utrecht-form-field-grid-column: auto / span 2;
    }

    &--md {
      --_utrecht-form-field-grid-column: auto / span 4;
    }

    &--lg {
      --_utrecht-form-field-grid-column: auto / span 8;
    }

    &--xl {
      --_utrecht-form-field-grid-column: auto / span 10;
    }

    &--full-1 {
      --_utrecht-form-field-grid-column: auto / span 11;
    }
  }
}

.utrecht-form-fieldset--grid {
  container-type: inline-size;

  @container (width < 420px) {
    @include small-viewport;
  }
  @container (width > 420px) and (width < 768px) {
    @include normal-viewport;
  }
  @container (width > 768px) {
    @include large-viewport;
  }

  @supports not (container-type: inline-size) {
    @media not all and (min-width: 640px) {
      @include small-viewport;
    }
    @media (min-width: 640px) {
      @include large-viewport;
    }
  }

  .utrecht-form-field {
    --_utrecht-form-field-min-width: 4ch;
    &--third {
      --_utrecht-form-field-grid-column: auto / span 4;
    }

    &--quarter {
      --_utrecht-form-field-grid-column: auto / span 3;
    }

    &--half {
      --_utrecht-form-field-grid-column: auto / span 6;
    }

    &--full {
      --_utrecht-form-field-grid-column: 1 / -1;
    }
  }
}
/* stylelint-enable */
