/* Patch to reduce outline offset in links */
.utrecht-link:focus,
.utrecht-link:focus-visible {
  outline-offset: var(--utrecht-link-focus-outline-offset);
}

/* Generic patch. Should be discussed */
.utrecht-link {
  align-items: center;
  display: inline-flex;
  gap: 8px;
}

// Theme switch override
.rvo-theme {
  .utrecht-link {
    font-weight: var(--rvo-link-font-weight);
  }
  .utrecht-link:focus,
  .utrecht-link:focus-visible {
    outline: none;
  }
}
