.utrecht-link {
  align-items: center;
  display: inline-flex;
  gap: var(--rvo-space-xs);
}
.rvo-theme {
  .utrecht-link {
    font-weight: var(--rvo-link-font-weight);
  }

  .utrecht-link:focus,
  .utrecht-link:focus-visible {
    outline: none;
  }
}
.basiselementen-theme {
  .utrecht-link:focus,
  .utrecht-link:focus-visible {
    outline-offset: 0;
  }
}
