/* stylelint-disable scss/no-global-function-names */
@use "../../layout-flow/src";

$rvo-button-kinds: (primary, secondary, tertiary, quaternary, subtle, warning, warning-subtle) !default;
$rvo-button-sizes: (xs, sm, md) !default;

.rvo-button {
  align-items: center;
  background-color: var(--rvo-button-background-color);
  border-color: var(--rvo-button-border-color);
  border-radius: var(--rvo-button-border-radius);
  border-width: var(--rvo-button-border-width);
  box-sizing: border-box;
  color: var(--rvo-button-color);
  display: flex;
  flex-shrink: 0;
  font-size: var(--rvo-button-font-size);
  gap: 0;
  inline-size: var(--rvo-button-inline-size);
  justify-content: center;
  line-height: var(--rvo-button-line-height);
  max-inline-size: var(--rvo-button-max-inline-size);
  min-block-size: var(--rvo-button-min-block-size);
  padding-block-end: var(--rvo-button-padding-block-end);
  padding-block-start: var(--rvo-button-padding-block-start);
  padding-inline-end: var(--rvo-button-padding-inline-end);
  padding-inline-start: var(--rvo-button-padding-inline-start);
  text-wrap: nowrap;

  &--icon-before {
    .utrecht-icon {
      margin-inline-end: var(--rvo-space-sm);
    }
  }

  &--icon-after {
    .utrecht-icon {
      margin-inline-start: var(--rvo-space-sm);
    }
  }

  &--full-width {
    --rvo-button-inline-size: 100%;
    --rvo-button-max-inline-size: 100%;
  }

  &:hover:not(:disabled, [aria-disabled="true"]) {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 30%;
  }

  @each $name in $rvo-button-kinds {
    &--#{$name} {
      --rvo-button-background-color: var(--rvo-button-#{$name}-background-color);
      --rvo-button-color: var(--rvo-button-#{$name}-color);
      --rvo-button-border-color: var(--rvo-button-#{$name}-border-color);
      --rvo-button-border-width: var(--rvo-button-#{$name}-border-width);

      .utrecht-icon.rvo-icon {
        background-color: var(--rvo-button-#{$name}-color);
      }

      &:active {
        --rvo-button-background-color: var(--rvo-button-#{$name}-active-background-color);
        --rvo-button-border-color: var(--rvo-button-#{$name}-active-border-color);
      }

      &:focus {
        --rvo-button-background-color: var(--rvo-button-#{$name}-focus-background-color);
        --rvo-button-border-color: var(--rvo-button-#{$name}-focus-border-color);
      }

      &:hover {
        --rvo-button-background-color: var(--rvo-button-#{$name}-hover-background-color);
        --rvo-button-color: var(--rvo-button-#{$name}-hover-color);
        --rvo-button-border-color: var(--rvo-button-#{$name}-hover-border-color);

        text-decoration-color: var(--rvo-button-#{$name}-hover-color);

        .utrecht-icon.rvo-icon {
          background-color: var(--rvo-button-#{$name}-hover-color);
        }
      }

      &:disabled {
        --rvo-button-background-color: var(--rvo-button-#{$name}-disabled-background-color);
        --rvo-button-border-color: var(--rvo-button-#{$name}-disabled-border-color);
        --rvo-button-color: var(--rvo-button-#{$name}-disabled-color);
      }
    }
  }

  @each $name in $rvo-button-sizes {
    &--size-#{$name} {
      --rvo-button-font-size: var(--rvo-button-size-#{$name}-font-size);
      --rvo-button-min-block-size: var(--rvo-button-size-#{$name}-min-block-size);
      --rvo-button-padding-block-start: var(--rvo-button-size-#{$name}-padding-block-start);
      --rvo-button-padding-block-end: var(--rvo-button-size-#{$name}-padding-block-end);
      --rvo-button-padding-inline-start: var(--rvo-button-size-#{$name}-padding-inline-start);
      --rvo-button-padding-inline-end: var(--rvo-button-size-#{$name}-padding-inline-end);

      @extend .rvo-layout-row-inline;
      @extend .rvo-layout-gap--sm;
    }
  }
}
