.rvo-layout-column {
  display: flex;
  flex-direction: column;
}

.rvo-layout-row {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.rvo-layout--wrap {
  flex-wrap: wrap;
}

.rvo-layout-gap--2xs {
  gap: var(--rvo-space-2xs);
}

.rvo-layout-gap--xs {
  gap: var(--rvo-space-xs);
}

.rvo-layout-gap--sm {
  gap: var(--rvo-space-sm);
}

.rvo-layout-gap--md {
  gap: var(--rvo-space-md);
}

.rvo-layout-gap--lg {
  gap: var(--rvo-space-lg);
}

.rvo-layout-gap--xl {
  gap: var(--rvo-space-xl);
}

.rvo-layout-gap--2xl {
  gap: var(--rvo-space-2xl);
}

.rvo-layout-gap--3xl {
  gap: var(--rvo-space-3xl);
}

.rvo-layout-gap--4xl {
  gap: var(--rvo-space-4xl);
}
