.rvo-cmor {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;

  .rvo-header {
    display: flex;
    justify-content: center;
  }

  /* @Navigation */

  .rvo-topnav {
    /* Hide topnav on smaller screens */
    display: none;

    .rvo-topnav__list {
      margin-block-end: 0;
      margin-block-start: 0;

      .rvo-topnav__link {
        padding-block-end: var(--rvo-space-md);
        padding-block-start: var(--rvo-space-md);
        padding-inline-end: var(--rvo-space-md);
        padding-inline-start: var(--rvo-space-md);
      }
    }

    @media (min-width: 780px) {
      display: block;
    }
  }

  .rvo-responsive-menu .rvo-topnav {
    display: flex;
  }

  .rvo-sidebar-menu .rvo-topnav__list {
    flex-direction: column;
    gap: var(--rvo-mobile-menu-list-gap);
    margin-block-end: var(--rvo-mobile-menu-list-margin-block-end);
    margin-block-start: var(--rvo-mobile-menu-list-margin-block-start);

    .rvo-topnav__link {
      color: var(--rvo-color-grijs3);
      font-weight: var(--rvo-font-weight-normal);
      padding-block-end: 0;
      padding-block-start: 0;
      padding-inline-end: 0;
      padding-inline-start: 0;

      &::before {
        background-color: var(--rvo-mobile-menu-item-active-indicator-background-color);
        border-radius: var(--rvo-mobile-menu-item-active-indicator-border-radius);
        content: "";
        display: block;
        height: var(--rvo-mobile-menu-item-active-indicator-height);
        opacity: 0%;
        width: var(--rvo-mobile-menu-item-active-indicator-width);
      }

      .rvo-icon {
        --utrecht-icon-color: var(--rvo-color-grijs3);
      }
    }

    .rvo-topnav__item--active {
      .rvo-topnav__link {
        font-weight: var(--rvo-font-weight-bold);

        &::before {
          opacity: 100%;
        }
      }
    }
  }

  @media (min-width: 780px) {
    .rvo-main--sidebar-active {
      display: grid;
      grid-template-columns: 240px 1fr;
    }

    // Hide responsive menu
    .rvo-responsive-menu-wrapper {
      display: none !important;
    }
  }

  @media (min-width: 1080px) {
    .rvo-main--sidebar-active {
      grid-template-columns: 288px 1fr;
    }
  }

  .rvo-content--cmor {
    background-color: var(--rvo-color-wit);
    padding-block-end: var(--rvo-space-xl);
    padding-block-start: var(--rvo-space-xl);
    padding-inline-end: var(--rvo-space-xl);
    padding-inline-start: var(--rvo-space-xl);

    @media (min-width: 1080px) {
      padding-block-end: var(--rvo-space-3xl);
      padding-block-start: var(--rvo-space-3xl);
      padding-inline-end: var(--rvo-space-3xl);
      padding-inline-start: var(--rvo-space-3xl);
    }

    .utrecht-heading-1 {
      /* Heading has bold and non bold text in CMOR design */
      font-weight: var(--rvo-font-weight-regular);

      /* negative margin-block-start to get the same visual height as the start of the sidebar menu: is this the best way? */
      margin-block-start: -5px;
    }
  }

  .rvo-alert--space-lg {
    padding-block-end: var(--rvo-space-xl);
    padding-block-start: var(--rvo-space-xl);
    padding-inline-end: var(--rvo-space-xl);
    padding-inline-start: var(--rvo-space-xl);
  }

  .rvo-reminders {
    max-width: 408px;

    .rvo-alert p {
      font-size: var(--rvo-font-size-sm);
      margin-block-end: var(--rvo-space-xs);
      margin-block-start: 0;
    }
  }

  // FILTERS
  .rvo-filter--cmor[open] {
    .rvo-expandable-area-toggle {
      margin-block-end: var(--rvo-space-sm);
    }

    padding-block-end: var(--rvo-space-sm);
  }

  // TABLE

  .rvo-table--cmor {
    .rvo-table-head .rvo-table-row {
      display: none;
    }

    .rvo-table-head .rvo-table-row,
    .rvo-table-body .rvo-table-row {
      @media (min-width: 980px) {
        border-bottom-color: #e2e8f0;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr;
      }
    }

    .rvo-table-body .rvo-table-row {
      display: grid;
      gap: var(--rvo-space-2xs);
      position: relative;
    }

    .rvo-table-header {
      background-color: var(--rvo-color-wit);
      color: #64748b;
      font-size: var(--rvo-font-size-sm);
    }

    .rvo-table-cell {
      padding-block-end: 0;
      padding-block-start: 0;
      padding-inline-end: 0;
      padding-inline-start: 0;
      vertical-align: top;

      @media (min-width: 980px) {
        padding-block-end: 8px;
        padding-block-start: 8px;
        padding-inline-end: var(--rvo-space-md);
        padding-inline-start: var(--rvo-space-md);
      }
    }

    .rvo-table-cell:not(:last-child) {
      border-bottom-width: 0;
    }

    .rvo-table-cell:last-child {
      margin-block-end: var(--rvo-space-md);
      padding-block-end: var(--rvo-space-md);

      @media (min-width: 980px) {
        border-bottom-width: 0;
        margin-block-end: 0;
        padding-block-end: 8px;
      }
    }

    .rvo-table-row:last-child {
      .rvo-table-cell:last-child {
        margin-block-end: 0;
      }
    }

    .rvo-table-cell--title {
      font-weight: var(--rvo-font-weight-bold);
    }

    .rvo-table-head-indicator {
      color: #64748b;
      font-size: var(--rvo-font-size-sm);

      @media (min-width: 980px) {
        display: none;
      }
    }
  }
}
