.rvo-focus-demopage {
  *:focus,
  .utrecht-radio-button:focus,
  .utrecht-button:focus,
  .rvo-file-input:focus {
    box-shadow: none;
    outline: none;
    outline-offset: 0;
  }

  *:focus-visible,
  .utrecht-button:focus-visible,
  .rvo-file-input:focus-visible {
    box-shadow: 0 0 0 0.25rem var(--rvo-color-wit);
    outline: 0.375rem double var(--rvo-color-logoblauw);
  }

  input:focus-visible,
  textarea:focus-visible,
  .utrecht-radio-button:focus-visible,
  select:focus-visible {
    box-shadow: none;
    outline: 2px solid var(--rvo-color-logoblauw);
  }
}
