.rvo-tabs-demopage {
  // Max width fix
  .rvo-max-width-layout {
    width: auto !important;
  }

  .rvo-tabs {
    display: block;
  }

  @media (min-width: 600px) {
    .rvo-tabs-ul {
      display: inline-flex;
    }
  }

  .rvo-tabs-ul li.rvo-tabs__item {
    @media (min-width: 600px) {
      background-color: var(--rvo-color-grijs-200);
      margin-inline-start: var(--rvo-space-2xs);
    }
  }

  .rvo-tabs-ul li.rvo-tabs__item-active {
    background-color: var(--rvo-color-wit);
    font-weight: var(--rvo-font-weight-bold);

    @media (min-width: 600px) {
      border: 1px solid var(--rvo-color-zwart);
      border-bottom-color: var(--rvo-color-wit);
      margin-block-end: -1px;
      padding-block-end: var(--rvo-tabs-padding-block-end);
      padding-block-start: var(--rvo-tabs-padding-block-start);
      padding-inline-end: var(--rvo-tabs-padding-inline-end);
      padding-inline-start: var(--rvo-tabs-padding-inline-start);
    }
  }

  .rvo-tabs--subtle .rvo-tabs-ul li.rvo-tabs__item-active {
    border-color: var(--rvo-color-grijs-400);
    border-bottom-color: var(--rvo-color-wit);
  }

  .rvo-tabs-ul li.rvo-tabs__item .rvo-tabs__item-link {
    border-bottom: 0;
    color: var(--rvo-color-donkerblauw);
    text-decoration-line: underline;

    @media (min-width: 600px) {
      text-decoration-thickness: var(--rvo-link-text-decoration-thickness);
    }
  }

  .rvo-tabs-ul li.rvo-tabs__item .rvo-tabs__item-link:hover,
  .rvo-tabs-ul li.rvo-tabs__item .rvo-tabs__item-link:focus {
    @media (min-width: 600px) {
      text-decoration-thickness: var(--rvo-link-hover-text-decoration-thickness);
    }
  }

  .rvo-tabs-ul li.rvo-tabs__item:first-child {
    margin-inline-start: 0;
  }

  .rvo-tabs-ul li.rvo-tabs__item .rvo-tabs__item-link--active {
    background-color: var(--rvo-color-wit);
    border: 1px solid var(--rvo-color-zwart);
    border-bottom-color: var(--rvo-color-wit);
    color: var(--rvo-color-zwart);
    text-decoration-line: none;
  }

  .rvo-tabs__panel {
    padding-block-start: var(--rvo-space-md);
    padding-inline-end: var(--rvo-space-md);
    padding-inline-start: var(--rvo-space-md);

    @media (min-width: 600px) {
      border: 1px solid var(--rvo-color-zwart);
      padding-block-end: var(--rvo-space-md);
    }
  }

  .rvo-tabs--subtle .rvo-tabs__panel {
    border-color: var(--rvo-color-grijs-400);
  }
}
