/* stylelint-disable scss/no-global-function-names */
@use "../../../proprietary/design-tokens/dist" as tokens;
@import "../../../node_modules/@utrecht/components/button/css/mixin";

// Subtle button
.utrecht-button--subtle.utrecht-button--hover:not(:disabled),
.utrecht-button--subtle.utrecht-button-link--hover:not(:disabled),
.utrecht-button--subtle:hover:not(:disabled):not([aria-disabled="true"]):not(.utrecht-button--disabled) {
  text-decoration: underline;
  text-underline-offset: 30%;
}

// Tertiary action
@include utrecht-button-appearance("utrecht-button", "rvo-tertiary-action");

.utrecht-button--rvo-tertiary-action.utrecht-button--hover:not(:disabled),
.utrecht-button--rvo-tertiary-action.utrecht-button-link--hover:not(:disabled),
.utrecht-button--rvo-tertiary-action:hover:not(:disabled):not([aria-disabled="true"]):not(.utrecht-button--disabled) {
  text-decoration: underline;
  text-underline-offset: 30%;
}

// Quaternary action
@include utrecht-button-appearance("utrecht-button", "rvo-quaternary-action");

// Sizes
.utrecht-button--rvo-xs {
  --utrecht-button-font-size: var(--utrecht-button-rvo-xs-font-size);
  --utrecht-button-font-weight: var(--utrecht-button-rvo-xs-font-weight);
  --utrecht-button-min-block-size: var(--utrecht-button-rvo-xs-min-block-size);
  --utrecht-button-padding-block-end: var(--utrecht-button-rvo-xs-padding-block-end);
  --utrecht-button-padding-block-start: var(--utrecht-button-rvo-xs-padding-block-start);
  --utrecht-button-padding-inline-end: var(--utrecht-button-rvo-xs-padding-inline-end);
  --utrecht-button-padding-inline-start: var(--utrecht-button-rvo-xs-padding-inline-start);
}

.utrecht-button--rvo-sm {
  --utrecht-button-font-size: var(--utrecht-button-rvo-sm-font-size);
  --utrecht-button-min-block-size: var(--utrecht-button-rvo-sm-min-block-size);
  --utrecht-button-padding-block-end: var(--utrecht-button-rvo-sm-padding-block-end);
  --utrecht-button-padding-block-start: var(--utrecht-button-rvo-sm-padding-block-start);
  --utrecht-button-padding-inline-end: var(--utrecht-button-rvo-sm-padding-inline-end);
  --utrecht-button-padding-inline-start: var(--utrecht-button-rvo-sm-padding-inline-start);
}

.utrecht-button--rvo-md {
  --utrecht-button-font-size: var(--utrecht-button-rvo-md-font-size);
  --utrecht-button-padding-block-end: var(--utrecht-button-rvo-md-padding-block-end);
  --utrecht-button-padding-block-start: var(--utrecht-button-rvo-md-padding-block-start);
  --utrecht-button-padding-inline-end: var(--utrecht-button-rvo-md-padding-inline-end);
  --utrecht-button-padding-inline-start: var(--utrecht-button-rvo-md-padding-inline-start);
}
