.rvo-tabs {
  --rvo-tabs-padding-block: var(--rvo-tabs-padding-block-start, --rvo-space-xs)
    var(--rvo-tabs-padding-block-end, --rvo-space-xs);
  --rvo-tabs-padding-inline: var(--rvo-tabs-padding-inline-start, --rvo-space-md)
    var(--rvo-tabs-padding-inline-end, --rvo-space-md);
  --rvo-tabs-panel-padding-block: var(--rvo-tabs-panel-padding-block-start, --rvo-space-xs)
    var(--rvo-tabs-panel-padding-block-end, --rvo-space-xs);
  --rvo-tabs-panel-padding-inline: var(--rvo-tabs-panel-padding-inline-start, --rvo-space-md)
    var(--rvo-tabs-panel-padding-inline-end, --rvo-space-md);

  font-size: var(--rvo-tabs-font-size);

  &__tablist {
    align-items: flex-end;
    border-bottom: var(--rvo-tabs-border-width) var(--rvo-tabs-border-style) var(--rvo-tabs-border-color);
    display: flex;
    gap: var(--rvo-tabs-gap);
    margin-block: calc(var(--rvo-tabs-border-width) * -1);
    padding-inline: 0;
    position: relative;

    &::after {
      border-block-end: var(--rvo-tabs-border-width) var(--rvo-tabs-border-style) var(--rvo-tabs-border-color);
      bottom: calc(var(--rvo-tabs-border-width) * -1);
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      z-index: 2;
    }
  }

  &__item, // Deprecated from v1.
  &__tab {
    align-items: center;
    appearance: none;
    background-color: var(--rvo-tabs-background);
    border: var(--rvo-tabs-border-width) var(--rvo-tabs-border-style) transparent;
    border-block-end: none;
    border-block-end-color: var(--rvo-tabs-border-color);
    color: var(--rvo-tabs-color);
    column-gap: var(--rvo-tabs-gap);
    cursor: pointer;
    display: inline-flex;
    font: inherit;
    font-weight: 500;
    margin-block-end: calc(var(--rvo-tabs-border-width) * -1);
    margin-block-start: var(--rvo-tabs-border-width);
    padding-block: var(--rvo-tabs-padding-block);
    padding-inline: var(--rvo-tabs-padding-inline);
    position: relative;
    text-decoration: underline;
    user-select: none;
    z-index: 0;

    &:hover {
      text-decoration: none;
    }

    &:focus-visible {
      outline: var(--rvo-tabs-focus-width) var(--rvo-tabs-border-style) var(--rvo-tabs-focus-color);
      outline-offset: var(--rvo-tabs-focus-offset);
      z-index: 3;
    }

    // Collapse borders between adjacent tabs
    & + & {
      margin-inline-start: calc(var(--rvo-tabs-border-width) * -1);
    }

    &--active {
      background-color: var(--rvo-tabs-active-background);
      border-color: var(--rvo-tabs-border-color);
      color: var(--rvo-tabs-active-color);
      font-weight: var(--rvo-tabs-active-font-weight);
      text-decoration: none;
      z-index: 3;

      &:hover {
        background-color: var(--rvo-tabs-active-background);
      }
    }

    &--disabled,
    &:disabled {
      cursor: not-allowed;
      opacity: 55%;
    }
  }

  &__panel {
    background-color: var(--rvo-tabs-active-background);
    border: var(--rvo-tabs-panel-border-width) var(--rvo-tabs-panel-border-style) var(--rvo-tabs-panel-border-color);
    border-top: 0;
    padding-block: var(--rvo-tabs-panel-padding-block);
    padding-inline: var(--rvo-tabs-panel-padding-inline);
    position: relative;
    z-index: 1;

    &:focus-visible {
      border: var(--rvo-tabs-panel-border-width) var(--rvo-tabs-panel-border-style) var(--rvo-tabs-panel-border-color);
      outline-offset: var(--rvo-tabs-focus-offset);
    }

    &--no-border {
      --rvo-tabs-panel-border-width: 0;
    }

    &--no-padding {
      --rvo-tabs-panel-padding-inline: 0;
      --rvo-tabs-panel-padding-block: 0;
    }
  }

  // util
  &--sm {
    --rvo-tabs-font-size: var(--rvo-font-size-sm, --rvo-space-sm);
    --rvo-tabs-gap: var(--rvo-space-2xs, --rvo-space-2xs);
  }

  &--md {
    --rvo-tabs-font-size: var(--rvo-font-size-md, --rvo-space-md);
    --rvo-tabs-gap: var(--rvo-space-xs, --rvo-space-xs);
  }

  &--lg {
    --rvo-tabs-font-size: var(--rvo-font-size-lg, --rvo-space-lg);
    --rvo-tabs-gap: var(--rvo-space-xs, --rvo-space-xs);
  }
}
