:root {
  --doc-sidebar-width: 300px;
  --doc-sidebar-hidden-width: 30px;
}

.mainWrapper {
  display: none;
}

@media (min-width: 997px) {
  .mainWrapper {
    clip-path: inset(0);
    display: block;
    transition: width var(--ifm-transition-fast) ease;
    width: var(--doc-sidebar-width);
    will-change: width;
    padding: 0;
    padding-block-start: var(--rvo-dialog-padding-block-start) !important;
    padding-inline-start: var(--rvo-dialog-padding-inline-start) !important;
    padding-inline-end: var(--rvo-dialog-padding-inline-end) !important;
  }
}

.mainWrapper aside nav ul li:not(:first-child) {
  margin-top: 0 !important;
}
