.docSidebarContainer {
  display: none;
}

@media (min-width: 997px) {
  .docSidebarContainer {
    border-right: 1px solid var(--ifm-toc-border-color);
    clip-path: inset(0);
    display: block;
    margin-block-start: calc(-1 * var(--ifm-navbar-height));
    transition: width var(--ifm-transition-fast) ease;
    width: var(--doc-sidebar-width);
    will-change: width;
  }

  .docSidebarContainerHidden {
    cursor: pointer;
    width: var(--doc-sidebar-hidden-width);
  }
}
