@mixin rvo-icon-activiteit-mask {
  -webkit-mask-image: url("functioneel/activiteit.svg");
  mask-image: url("functioneel/activiteit.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-activiteit-bg {
  background-image: url("functioneel/activiteit.svg");
}

@mixin rvo-icon-agile-werken-mask {
  -webkit-mask-image: url("functioneel/agile-werken.svg");
  mask-image: url("functioneel/agile-werken.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-agile-werken-bg {
  background-image: url("functioneel/agile-werken.svg");
}

@mixin rvo-icon-api-inrichting-mask {
  -webkit-mask-image: url("functioneel/api-inrichting.svg");
  mask-image: url("functioneel/api-inrichting.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-api-inrichting-bg {
  background-image: url("functioneel/api-inrichting.svg");
}

@mixin rvo-icon-audio-mask {
  -webkit-mask-image: url("functioneel/audio.svg");
  mask-image: url("functioneel/audio.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-audio-bg {
  background-image: url("functioneel/audio.svg");
}

@mixin rvo-icon-bel-mask {
  -webkit-mask-image: url("functioneel/bel.svg");
  mask-image: url("functioneel/bel.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-bel-bg {
  background-image: url("functioneel/bel.svg");
}

@mixin rvo-icon-bewerken-mask {
  -webkit-mask-image: url("functioneel/bewerken.svg");
  mask-image: url("functioneel/bewerken.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-bewerken-bg {
  background-image: url("functioneel/bewerken.svg");
}

@mixin rvo-icon-blog-mask {
  -webkit-mask-image: url("functioneel/blog.svg");
  mask-image: url("functioneel/blog.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-blog-bg {
  background-image: url("functioneel/blog.svg");
}

@mixin rvo-icon-comment-mask {
  -webkit-mask-image: url("functioneel/comment.svg");
  mask-image: url("functioneel/comment.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-comment-bg {
  background-image: url("functioneel/comment.svg");
}

@mixin rvo-icon-communicatie-mask {
  -webkit-mask-image: url("functioneel/communicatie.svg");
  mask-image: url("functioneel/communicatie.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-communicatie-bg {
  background-image: url("functioneel/communicatie.svg");
}

@mixin rvo-icon-delen-mask {
  -webkit-mask-image: url("functioneel/delen.svg");
  mask-image: url("functioneel/delen.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-delen-bg {
  background-image: url("functioneel/delen.svg");
}

@mixin rvo-icon-delta-naar-links-mask {
  -webkit-mask-image: url("functioneel/delta-naar-links.svg");
  mask-image: url("functioneel/delta-naar-links.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-delta-naar-links-bg {
  background-image: url("functioneel/delta-naar-links.svg");
}

@mixin rvo-icon-delta-naar-rechts-mask {
  -webkit-mask-image: url("functioneel/delta-naar-rechts.svg");
  mask-image: url("functioneel/delta-naar-rechts.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-delta-naar-rechts-bg {
  background-image: url("functioneel/delta-naar-rechts.svg");
}

@mixin rvo-icon-delta-omhoog-mask {
  -webkit-mask-image: url("functioneel/delta-omhoog.svg");
  mask-image: url("functioneel/delta-omhoog.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-delta-omhoog-bg {
  background-image: url("functioneel/delta-omhoog.svg");
}

@mixin rvo-icon-delta-omlaag-mask {
  -webkit-mask-image: url("functioneel/delta-omlaag.svg");
  mask-image: url("functioneel/delta-omlaag.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-delta-omlaag-bg {
  background-image: url("functioneel/delta-omlaag.svg");
}

@mixin rvo-icon-diagonale-pijl-mask {
  -webkit-mask-image: url("functioneel/diagonale-pijl.svg");
  mask-image: url("functioneel/diagonale-pijl.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-diagonale-pijl-bg {
  background-image: url("functioneel/diagonale-pijl.svg");
}

@mixin rvo-icon-downloaden-mask {
  -webkit-mask-image: url("functioneel/downloaden.svg");
  mask-image: url("functioneel/downloaden.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-downloaden-bg {
  background-image: url("functioneel/downloaden.svg");
}

@mixin rvo-icon-externe-link-mask {
  -webkit-mask-image: url("functioneel/externe-link.svg");
  mask-image: url("functioneel/externe-link.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-externe-link-bg {
  background-image: url("functioneel/externe-link.svg");
}

@mixin rvo-icon-favoriet-mask {
  -webkit-mask-image: url("functioneel/favoriet.svg");
  mask-image: url("functioneel/favoriet.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-favoriet-bg {
  background-image: url("functioneel/favoriet.svg");
}

@mixin rvo-icon-foto-vergroten-mask {
  -webkit-mask-image: url("functioneel/foto-vergroten.svg");
  mask-image: url("functioneel/foto-vergroten.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-foto-vergroten-bg {
  background-image: url("functioneel/foto-vergroten.svg");
}

@mixin rvo-icon-gegevensuitwisseling-mask {
  -webkit-mask-image: url("functioneel/gegevensuitwisseling.svg");
  mask-image: url("functioneel/gegevensuitwisseling.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-gegevensuitwisseling-bg {
  background-image: url("functioneel/gegevensuitwisseling.svg");
}

@mixin rvo-icon-geluid-aan-mask {
  -webkit-mask-image: url("functioneel/geluid-aan.svg");
  mask-image: url("functioneel/geluid-aan.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-geluid-aan-bg {
  background-image: url("functioneel/geluid-aan.svg");
}

@mixin rvo-icon-geluid-uit-mask {
  -webkit-mask-image: url("functioneel/geluid-uit.svg");
  mask-image: url("functioneel/geluid-uit.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-geluid-uit-bg {
  background-image: url("functioneel/geluid-uit.svg");
}

@mixin rvo-icon-haakse-pijl-mask {
  -webkit-mask-image: url("functioneel/haakse-pijl.svg");
  mask-image: url("functioneel/haakse-pijl.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-haakse-pijl-bg {
  background-image: url("functioneel/haakse-pijl.svg");
}

@mixin rvo-icon-hashtag-mask {
  -webkit-mask-image: url("functioneel/hashtag.svg");
  mask-image: url("functioneel/hashtag.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-hashtag-bg {
  background-image: url("functioneel/hashtag.svg");
}

@mixin rvo-icon-home-mask {
  -webkit-mask-image: url("functioneel/home.svg");
  mask-image: url("functioneel/home.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-home-bg {
  background-image: url("functioneel/home.svg");
}

@mixin rvo-icon-info-mask {
  -webkit-mask-image: url("functioneel/info.svg");
  mask-image: url("functioneel/info.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-info-bg {
  background-image: url("functioneel/info.svg");
}

@mixin rvo-icon-inloggen-mask {
  -webkit-mask-image: url("functioneel/inloggen.svg");
  mask-image: url("functioneel/inloggen.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-inloggen-bg {
  background-image: url("functioneel/inloggen.svg");
}

@mixin rvo-icon-instellingen-mask {
  -webkit-mask-image: url("functioneel/instellingen.svg");
  mask-image: url("functioneel/instellingen.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-instellingen-bg {
  background-image: url("functioneel/instellingen.svg");
}

@mixin rvo-icon-interne-link-mask {
  -webkit-mask-image: url("functioneel/interne-link.svg");
  mask-image: url("functioneel/interne-link.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-interne-link-bg {
  background-image: url("functioneel/interne-link.svg");
}

@mixin rvo-icon-kalender-mask {
  -webkit-mask-image: url("functioneel/kalender.svg");
  mask-image: url("functioneel/kalender.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-kalender-bg {
  background-image: url("functioneel/kalender.svg");
}

@mixin rvo-icon-klok-mask {
  -webkit-mask-image: url("functioneel/klok.svg");
  mask-image: url("functioneel/klok.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-klok-bg {
  background-image: url("functioneel/klok.svg");
}

@mixin rvo-icon-kruis-mask {
  -webkit-mask-image: url("functioneel/kruis.svg");
  mask-image: url("functioneel/kruis.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-kruis-bg {
  background-image: url("functioneel/kruis.svg");
}

@mixin rvo-icon-let-op-met-loep-mask {
  -webkit-mask-image: url("functioneel/let-op-met-loep.svg");
  mask-image: url("functioneel/let-op-met-loep.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-let-op-met-loep-bg {
  background-image: url("functioneel/let-op-met-loep.svg");
}

@mixin rvo-icon-let-op-mask {
  -webkit-mask-image: url("functioneel/let-op.svg");
  mask-image: url("functioneel/let-op.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-let-op-bg {
  background-image: url("functioneel/let-op.svg");
}

@mixin rvo-icon-locatiemarker-mask {
  -webkit-mask-image: url("functioneel/locatiemarker.svg");
  mask-image: url("functioneel/locatiemarker.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-locatiemarker-bg {
  background-image: url("functioneel/locatiemarker.svg");
}

@mixin rvo-icon-mail-mask {
  -webkit-mask-image: url("functioneel/mail.svg");
  mask-image: url("functioneel/mail.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-mail-bg {
  background-image: url("functioneel/mail.svg");
}

@mixin rvo-icon-meer-mask {
  -webkit-mask-image: url("functioneel/meer.svg");
  mask-image: url("functioneel/meer.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-meer-bg {
  background-image: url("functioneel/meer.svg");
}

@mixin rvo-icon-menu-mask {
  -webkit-mask-image: url("functioneel/menu.svg");
  mask-image: url("functioneel/menu.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-menu-bg {
  background-image: url("functioneel/menu.svg");
}

@mixin rvo-icon-nieuws-mask {
  -webkit-mask-image: url("functioneel/nieuws.svg");
  mask-image: url("functioneel/nieuws.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-nieuws-bg {
  background-image: url("functioneel/nieuws.svg");
}

@mixin rvo-icon-permanent-beta-mask {
  -webkit-mask-image: url("functioneel/permanent-beta.svg");
  mask-image: url("functioneel/permanent-beta.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-permanent-beta-bg {
  background-image: url("functioneel/permanent-beta.svg");
}

@mixin rvo-icon-pijl-naar-rechts-mask {
  -webkit-mask-image: url("functioneel/pijl-naar-rechts.svg");
  mask-image: url("functioneel/pijl-naar-rechts.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-pijl-naar-rechts-bg {
  background-image: url("functioneel/pijl-naar-rechts.svg");
}

@mixin rvo-icon-pijl-naar-rechtsboven-mask {
  -webkit-mask-image: url("functioneel/pijl-naar-rechtsboven.svg");
  mask-image: url("functioneel/pijl-naar-rechtsboven.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-pijl-naar-rechtsboven-bg {
  background-image: url("functioneel/pijl-naar-rechtsboven.svg");
}

@mixin rvo-icon-pijl-omhoog-mask {
  -webkit-mask-image: url("functioneel/pijl-omhoog.svg");
  mask-image: url("functioneel/pijl-omhoog.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-pijl-omhoog-bg {
  background-image: url("functioneel/pijl-omhoog.svg");
}

@mixin rvo-icon-pijl-omlaag-mask {
  -webkit-mask-image: url("functioneel/pijl-omlaag.svg");
  mask-image: url("functioneel/pijl-omlaag.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-pijl-omlaag-bg {
  background-image: url("functioneel/pijl-omlaag.svg");
}

@mixin rvo-icon-plus-mask {
  -webkit-mask-image: url("functioneel/plus.svg");
  mask-image: url("functioneel/plus.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-plus-bg {
  background-image: url("functioneel/plus.svg");
}

@mixin rvo-icon-printer-mask {
  -webkit-mask-image: url("functioneel/printer.svg");
  mask-image: url("functioneel/printer.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-printer-bg {
  background-image: url("functioneel/printer.svg");
}

@mixin rvo-icon-publicatie-mask {
  -webkit-mask-image: url("functioneel/publicatie.svg");
  mask-image: url("functioneel/publicatie.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-publicatie-bg {
  background-image: url("functioneel/publicatie.svg");
}

@mixin rvo-icon-rechte-pijl-mask {
  -webkit-mask-image: url("functioneel/rechte-pijl.svg");
  mask-image: url("functioneel/rechte-pijl.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-rechte-pijl-bg {
  background-image: url("functioneel/rechte-pijl.svg");
}

@mixin rvo-icon-refresh-mask {
  -webkit-mask-image: url("functioneel/refresh.svg");
  mask-image: url("functioneel/refresh.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-refresh-bg {
  background-image: url("functioneel/refresh.svg");
}

@mixin rvo-icon-rss-mask {
  -webkit-mask-image: url("functioneel/rss.svg");
  mask-image: url("functioneel/rss.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-rss-bg {
  background-image: url("functioneel/rss.svg");
}

@mixin rvo-icon-secure-link-mask {
  -webkit-mask-image: url("functioneel/secure-link.svg");
  mask-image: url("functioneel/secure-link.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-secure-link-bg {
  background-image: url("functioneel/secure-link.svg");
}

@mixin rvo-icon-smartphone-mask {
  -webkit-mask-image: url("functioneel/smartphone.svg");
  mask-image: url("functioneel/smartphone.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-smartphone-bg {
  background-image: url("functioneel/smartphone.svg");
}

@mixin rvo-icon-tegelweergave-mask {
  -webkit-mask-image: url("functioneel/tegelweergave.svg");
  mask-image: url("functioneel/tegelweergave.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-tegelweergave-bg {
  background-image: url("functioneel/tegelweergave.svg");
}

@mixin rvo-icon-telefoon-mask {
  -webkit-mask-image: url("functioneel/telefoon.svg");
  mask-image: url("functioneel/telefoon.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-telefoon-bg {
  background-image: url("functioneel/telefoon.svg");
}

@mixin rvo-icon-terug-mask {
  -webkit-mask-image: url("functioneel/terug.svg");
  mask-image: url("functioneel/terug.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-terug-bg {
  background-image: url("functioneel/terug.svg");
}

@mixin rvo-icon-toegankelijkheid-mask {
  -webkit-mask-image: url("functioneel/toegankelijkheid.svg");
  mask-image: url("functioneel/toegankelijkheid.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-toegankelijkheid-bg {
  background-image: url("functioneel/toegankelijkheid.svg");
}

@mixin rvo-icon-toelichting-mask {
  -webkit-mask-image: url("functioneel/toelichting.svg");
  mask-image: url("functioneel/toelichting.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-toelichting-bg {
  background-image: url("functioneel/toelichting.svg");
}

@mixin rvo-icon-uit-aanknop-mask {
  -webkit-mask-image: url("functioneel/uit-aanknop.svg");
  mask-image: url("functioneel/uit-aanknop.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-uit-aanknop-bg {
  background-image: url("functioneel/uit-aanknop.svg");
}

@mixin rvo-icon-upload-mask {
  -webkit-mask-image: url("functioneel/upload.svg");
  mask-image: url("functioneel/upload.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-upload-bg {
  background-image: url("functioneel/upload.svg");
}

@mixin rvo-icon-user-mask {
  -webkit-mask-image: url("functioneel/user.svg");
  mask-image: url("functioneel/user.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-user-bg {
  background-image: url("functioneel/user.svg");
}

@mixin rvo-icon-versleutelen-mask {
  -webkit-mask-image: url("functioneel/versleutelen.svg");
  mask-image: url("functioneel/versleutelen.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-versleutelen-bg {
  background-image: url("functioneel/versleutelen.svg");
}

@mixin rvo-icon-verwijderen-mask {
  -webkit-mask-image: url("functioneel/verwijderen.svg");
  mask-image: url("functioneel/verwijderen.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-verwijderen-bg {
  background-image: url("functioneel/verwijderen.svg");
}

@mixin rvo-icon-verzenden-mask {
  -webkit-mask-image: url("functioneel/verzenden.svg");
  mask-image: url("functioneel/verzenden.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-verzenden-bg {
  background-image: url("functioneel/verzenden.svg");
}

@mixin rvo-icon-video-mask {
  -webkit-mask-image: url("functioneel/video.svg");
  mask-image: url("functioneel/video.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-video-bg {
  background-image: url("functioneel/video.svg");
}

@mixin rvo-icon-vinkje-mask {
  -webkit-mask-image: url("functioneel/vinkje.svg");
  mask-image: url("functioneel/vinkje.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-vinkje-bg {
  background-image: url("functioneel/vinkje.svg");
}

@mixin rvo-icon-vraagteken-mask {
  -webkit-mask-image: url("functioneel/vraagteken.svg");
  mask-image: url("functioneel/vraagteken.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-vraagteken-bg {
  background-image: url("functioneel/vraagteken.svg");
}

@mixin rvo-icon-zoek-mask {
  -webkit-mask-image: url("functioneel/zoek.svg");
  mask-image: url("functioneel/zoek.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-zoek-bg {
  background-image: url("functioneel/zoek.svg");
}

@mixin rvo-icon-bevestiging-mask {
  -webkit-mask-image: url("status/bevestiging.svg");
  mask-image: url("status/bevestiging.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-bevestiging-bg {
  background-image: url("status/bevestiging.svg");
}

@mixin rvo-icon-foutmelding-mask {
  -webkit-mask-image: url("status/foutmelding.svg");
  mask-image: url("status/foutmelding.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-foutmelding-bg {
  background-image: url("status/foutmelding.svg");
}

@mixin rvo-icon-waarschuwing-mask {
  -webkit-mask-image: url("status/waarschuwing.svg");
  mask-image: url("status/waarschuwing.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

@mixin rvo-icon-waarschuwing-bg {
  background-image: url("status/waarschuwing.svg");
}
