.rvo-theme,
.rvo-theme ::before,
.rvo-theme ::after {
  --rvo-icon-activiteit: url("functioneel/activiteit.svg");
  --rvo-icon-agile-werken: url("functioneel/agile-werken.svg");
  --rvo-icon-api-inrichting: url("functioneel/api-inrichting.svg");
  --rvo-icon-audio: url("functioneel/audio.svg");
  --rvo-icon-bel: url("functioneel/bel.svg");
  --rvo-icon-bewerken: url("functioneel/bewerken.svg");
  --rvo-icon-blog: url("functioneel/blog.svg");
  --rvo-icon-comment: url("functioneel/comment.svg");
  --rvo-icon-communicatie: url("functioneel/communicatie.svg");
  --rvo-icon-delen: url("functioneel/delen.svg");
  --rvo-icon-delta-naar-links: url("functioneel/delta-naar-links.svg");
  --rvo-icon-delta-naar-rechts: url("functioneel/delta-naar-rechts.svg");
  --rvo-icon-delta-omhoog: url("functioneel/delta-omhoog.svg");
  --rvo-icon-delta-omlaag: url("functioneel/delta-omlaag.svg");
  --rvo-icon-diagonale-pijl: url("functioneel/diagonale-pijl.svg");
  --rvo-icon-downloaden: url("functioneel/downloaden.svg");
  --rvo-icon-externe-link: url("functioneel/externe-link.svg");
  --rvo-icon-favoriet: url("functioneel/favoriet.svg");
  --rvo-icon-foto-vergroten: url("functioneel/foto-vergroten.svg");
  --rvo-icon-gegevensuitwisseling: url("functioneel/gegevensuitwisseling.svg");
  --rvo-icon-geluid-aan: url("functioneel/geluid-aan.svg");
  --rvo-icon-geluid-uit: url("functioneel/geluid-uit.svg");
  --rvo-icon-haakse-pijl: url("functioneel/haakse-pijl.svg");
  --rvo-icon-hashtag: url("functioneel/hashtag.svg");
  --rvo-icon-home: url("functioneel/home.svg");
  --rvo-icon-info: url("functioneel/info.svg");
  --rvo-icon-inloggen: url("functioneel/inloggen.svg");
  --rvo-icon-instellingen: url("functioneel/instellingen.svg");
  --rvo-icon-interne-link: url("functioneel/interne-link.svg");
  --rvo-icon-kalender: url("functioneel/kalender.svg");
  --rvo-icon-klok: url("functioneel/klok.svg");
  --rvo-icon-kruis: url("functioneel/kruis.svg");
  --rvo-icon-let-op-met-loep: url("functioneel/let-op-met-loep.svg");
  --rvo-icon-let-op: url("functioneel/let-op.svg");
  --rvo-icon-locatiemarker: url("functioneel/locatiemarker.svg");
  --rvo-icon-mail: url("functioneel/mail.svg");
  --rvo-icon-meer: url("functioneel/meer.svg");
  --rvo-icon-menu: url("functioneel/menu.svg");
  --rvo-icon-nieuws: url("functioneel/nieuws.svg");
  --rvo-icon-permanent-beta: url("functioneel/permanent-beta.svg");
  --rvo-icon-pijl-naar-rechts: url("functioneel/pijl-naar-rechts.svg");
  --rvo-icon-pijl-naar-rechtsboven: url("functioneel/pijl-naar-rechtsboven.svg");
  --rvo-icon-pijl-omhoog: url("functioneel/pijl-omhoog.svg");
  --rvo-icon-pijl-omlaag: url("functioneel/pijl-omlaag.svg");
  --rvo-icon-plus: url("functioneel/plus.svg");
  --rvo-icon-printer: url("functioneel/printer.svg");
  --rvo-icon-publicatie: url("functioneel/publicatie.svg");
  --rvo-icon-rechte-pijl: url("functioneel/rechte-pijl.svg");
  --rvo-icon-refresh: url("functioneel/refresh.svg");
  --rvo-icon-rss: url("functioneel/rss.svg");
  --rvo-icon-secure-link: url("functioneel/secure-link.svg");
  --rvo-icon-smartphone: url("functioneel/smartphone.svg");
  --rvo-icon-tegelweergave: url("functioneel/tegelweergave.svg");
  --rvo-icon-telefoon: url("functioneel/telefoon.svg");
  --rvo-icon-terug: url("functioneel/terug.svg");
  --rvo-icon-toegankelijkheid: url("functioneel/toegankelijkheid.svg");
  --rvo-icon-toelichting: url("functioneel/toelichting.svg");
  --rvo-icon-uit-aanknop: url("functioneel/uit-aanknop.svg");
  --rvo-icon-upload: url("functioneel/upload.svg");
  --rvo-icon-user: url("functioneel/user.svg");
  --rvo-icon-versleutelen: url("functioneel/versleutelen.svg");
  --rvo-icon-verwijderen: url("functioneel/verwijderen.svg");
  --rvo-icon-verzenden: url("functioneel/verzenden.svg");
  --rvo-icon-video: url("functioneel/video.svg");
  --rvo-icon-vinkje: url("functioneel/vinkje.svg");
  --rvo-icon-vraagteken: url("functioneel/vraagteken.svg");
  --rvo-icon-zoek: url("functioneel/zoek.svg");
  --rvo-icon-bevestiging: url("status/bevestiging.svg");
  --rvo-icon-foutmelding: url("status/foutmelding.svg");
  --rvo-icon-waarschuwing: url("status/waarschuwing.svg");
}

.rvo-icon-activiteit {
  -webkit-mask-image: var(--rvo-icon-activiteit);
  mask-image: var(--rvo-icon-activiteit);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-activiteit {
  background-image: var(--rvo-icon-activiteit);
}

.rvo-icon-agile-werken {
  -webkit-mask-image: var(--rvo-icon-agile-werken);
  mask-image: var(--rvo-icon-agile-werken);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-agile-werken {
  background-image: var(--rvo-icon-agile-werken);
}

.rvo-icon-api-inrichting {
  -webkit-mask-image: var(--rvo-icon-api-inrichting);
  mask-image: var(--rvo-icon-api-inrichting);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-api-inrichting {
  background-image: var(--rvo-icon-api-inrichting);
}

.rvo-icon-audio {
  -webkit-mask-image: var(--rvo-icon-audio);
  mask-image: var(--rvo-icon-audio);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-audio {
  background-image: var(--rvo-icon-audio);
}

.rvo-icon-bel {
  -webkit-mask-image: var(--rvo-icon-bel);
  mask-image: var(--rvo-icon-bel);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-bel {
  background-image: var(--rvo-icon-bel);
}

.rvo-icon-bewerken {
  -webkit-mask-image: var(--rvo-icon-bewerken);
  mask-image: var(--rvo-icon-bewerken);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-bewerken {
  background-image: var(--rvo-icon-bewerken);
}

.rvo-icon-blog {
  -webkit-mask-image: var(--rvo-icon-blog);
  mask-image: var(--rvo-icon-blog);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-blog {
  background-image: var(--rvo-icon-blog);
}

.rvo-icon-comment {
  -webkit-mask-image: var(--rvo-icon-comment);
  mask-image: var(--rvo-icon-comment);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-comment {
  background-image: var(--rvo-icon-comment);
}

.rvo-icon-communicatie {
  -webkit-mask-image: var(--rvo-icon-communicatie);
  mask-image: var(--rvo-icon-communicatie);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-communicatie {
  background-image: var(--rvo-icon-communicatie);
}

.rvo-icon-delen {
  -webkit-mask-image: var(--rvo-icon-delen);
  mask-image: var(--rvo-icon-delen);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-delen {
  background-image: var(--rvo-icon-delen);
}

.rvo-icon-delta-naar-links {
  -webkit-mask-image: var(--rvo-icon-delta-naar-links);
  mask-image: var(--rvo-icon-delta-naar-links);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-delta-naar-links {
  background-image: var(--rvo-icon-delta-naar-links);
}

.rvo-icon-delta-naar-rechts {
  -webkit-mask-image: var(--rvo-icon-delta-naar-rechts);
  mask-image: var(--rvo-icon-delta-naar-rechts);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-delta-naar-rechts {
  background-image: var(--rvo-icon-delta-naar-rechts);
}

.rvo-icon-delta-omhoog {
  -webkit-mask-image: var(--rvo-icon-delta-omhoog);
  mask-image: var(--rvo-icon-delta-omhoog);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-delta-omhoog {
  background-image: var(--rvo-icon-delta-omhoog);
}

.rvo-icon-delta-omlaag {
  -webkit-mask-image: var(--rvo-icon-delta-omlaag);
  mask-image: var(--rvo-icon-delta-omlaag);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-delta-omlaag {
  background-image: var(--rvo-icon-delta-omlaag);
}

.rvo-icon-diagonale-pijl {
  -webkit-mask-image: var(--rvo-icon-diagonale-pijl);
  mask-image: var(--rvo-icon-diagonale-pijl);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-diagonale-pijl {
  background-image: var(--rvo-icon-diagonale-pijl);
}

.rvo-icon-downloaden {
  -webkit-mask-image: var(--rvo-icon-downloaden);
  mask-image: var(--rvo-icon-downloaden);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-downloaden {
  background-image: var(--rvo-icon-downloaden);
}

.rvo-icon-externe-link {
  -webkit-mask-image: var(--rvo-icon-externe-link);
  mask-image: var(--rvo-icon-externe-link);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-externe-link {
  background-image: var(--rvo-icon-externe-link);
}

.rvo-icon-favoriet {
  -webkit-mask-image: var(--rvo-icon-favoriet);
  mask-image: var(--rvo-icon-favoriet);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-favoriet {
  background-image: var(--rvo-icon-favoriet);
}

.rvo-icon-foto-vergroten {
  -webkit-mask-image: var(--rvo-icon-foto-vergroten);
  mask-image: var(--rvo-icon-foto-vergroten);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-foto-vergroten {
  background-image: var(--rvo-icon-foto-vergroten);
}

.rvo-icon-gegevensuitwisseling {
  -webkit-mask-image: var(--rvo-icon-gegevensuitwisseling);
  mask-image: var(--rvo-icon-gegevensuitwisseling);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-gegevensuitwisseling {
  background-image: var(--rvo-icon-gegevensuitwisseling);
}

.rvo-icon-geluid-aan {
  -webkit-mask-image: var(--rvo-icon-geluid-aan);
  mask-image: var(--rvo-icon-geluid-aan);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-geluid-aan {
  background-image: var(--rvo-icon-geluid-aan);
}

.rvo-icon-geluid-uit {
  -webkit-mask-image: var(--rvo-icon-geluid-uit);
  mask-image: var(--rvo-icon-geluid-uit);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-geluid-uit {
  background-image: var(--rvo-icon-geluid-uit);
}

.rvo-icon-haakse-pijl {
  -webkit-mask-image: var(--rvo-icon-haakse-pijl);
  mask-image: var(--rvo-icon-haakse-pijl);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-haakse-pijl {
  background-image: var(--rvo-icon-haakse-pijl);
}

.rvo-icon-hashtag {
  -webkit-mask-image: var(--rvo-icon-hashtag);
  mask-image: var(--rvo-icon-hashtag);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-hashtag {
  background-image: var(--rvo-icon-hashtag);
}

.rvo-icon-home {
  -webkit-mask-image: var(--rvo-icon-home);
  mask-image: var(--rvo-icon-home);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-home {
  background-image: var(--rvo-icon-home);
}

.rvo-icon-info {
  -webkit-mask-image: var(--rvo-icon-info);
  mask-image: var(--rvo-icon-info);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-info {
  background-image: var(--rvo-icon-info);
}

.rvo-icon-inloggen {
  -webkit-mask-image: var(--rvo-icon-inloggen);
  mask-image: var(--rvo-icon-inloggen);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-inloggen {
  background-image: var(--rvo-icon-inloggen);
}

.rvo-icon-instellingen {
  -webkit-mask-image: var(--rvo-icon-instellingen);
  mask-image: var(--rvo-icon-instellingen);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-instellingen {
  background-image: var(--rvo-icon-instellingen);
}

.rvo-icon-interne-link {
  -webkit-mask-image: var(--rvo-icon-interne-link);
  mask-image: var(--rvo-icon-interne-link);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-interne-link {
  background-image: var(--rvo-icon-interne-link);
}

.rvo-icon-kalender {
  -webkit-mask-image: var(--rvo-icon-kalender);
  mask-image: var(--rvo-icon-kalender);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-kalender {
  background-image: var(--rvo-icon-kalender);
}

.rvo-icon-klok {
  -webkit-mask-image: var(--rvo-icon-klok);
  mask-image: var(--rvo-icon-klok);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-klok {
  background-image: var(--rvo-icon-klok);
}

.rvo-icon-kruis {
  -webkit-mask-image: var(--rvo-icon-kruis);
  mask-image: var(--rvo-icon-kruis);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-kruis {
  background-image: var(--rvo-icon-kruis);
}

.rvo-icon-let-op-met-loep {
  -webkit-mask-image: var(--rvo-icon-let-op-met-loep);
  mask-image: var(--rvo-icon-let-op-met-loep);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-let-op-met-loep {
  background-image: var(--rvo-icon-let-op-met-loep);
}

.rvo-icon-let-op {
  -webkit-mask-image: var(--rvo-icon-let-op);
  mask-image: var(--rvo-icon-let-op);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-let-op {
  background-image: var(--rvo-icon-let-op);
}

.rvo-icon-locatiemarker {
  -webkit-mask-image: var(--rvo-icon-locatiemarker);
  mask-image: var(--rvo-icon-locatiemarker);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-locatiemarker {
  background-image: var(--rvo-icon-locatiemarker);
}

.rvo-icon-mail {
  -webkit-mask-image: var(--rvo-icon-mail);
  mask-image: var(--rvo-icon-mail);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-mail {
  background-image: var(--rvo-icon-mail);
}

.rvo-icon-meer {
  -webkit-mask-image: var(--rvo-icon-meer);
  mask-image: var(--rvo-icon-meer);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-meer {
  background-image: var(--rvo-icon-meer);
}

.rvo-icon-menu {
  -webkit-mask-image: var(--rvo-icon-menu);
  mask-image: var(--rvo-icon-menu);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-menu {
  background-image: var(--rvo-icon-menu);
}

.rvo-icon-nieuws {
  -webkit-mask-image: var(--rvo-icon-nieuws);
  mask-image: var(--rvo-icon-nieuws);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-nieuws {
  background-image: var(--rvo-icon-nieuws);
}

.rvo-icon-permanent-beta {
  -webkit-mask-image: var(--rvo-icon-permanent-beta);
  mask-image: var(--rvo-icon-permanent-beta);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-permanent-beta {
  background-image: var(--rvo-icon-permanent-beta);
}

.rvo-icon-pijl-naar-rechts {
  -webkit-mask-image: var(--rvo-icon-pijl-naar-rechts);
  mask-image: var(--rvo-icon-pijl-naar-rechts);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-pijl-naar-rechts {
  background-image: var(--rvo-icon-pijl-naar-rechts);
}

.rvo-icon-pijl-naar-rechtsboven {
  -webkit-mask-image: var(--rvo-icon-pijl-naar-rechtsboven);
  mask-image: var(--rvo-icon-pijl-naar-rechtsboven);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-pijl-naar-rechtsboven {
  background-image: var(--rvo-icon-pijl-naar-rechtsboven);
}

.rvo-icon-pijl-omhoog {
  -webkit-mask-image: var(--rvo-icon-pijl-omhoog);
  mask-image: var(--rvo-icon-pijl-omhoog);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-pijl-omhoog {
  background-image: var(--rvo-icon-pijl-omhoog);
}

.rvo-icon-pijl-omlaag {
  -webkit-mask-image: var(--rvo-icon-pijl-omlaag);
  mask-image: var(--rvo-icon-pijl-omlaag);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-pijl-omlaag {
  background-image: var(--rvo-icon-pijl-omlaag);
}

.rvo-icon-plus {
  -webkit-mask-image: var(--rvo-icon-plus);
  mask-image: var(--rvo-icon-plus);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-plus {
  background-image: var(--rvo-icon-plus);
}

.rvo-icon-printer {
  -webkit-mask-image: var(--rvo-icon-printer);
  mask-image: var(--rvo-icon-printer);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-printer {
  background-image: var(--rvo-icon-printer);
}

.rvo-icon-publicatie {
  -webkit-mask-image: var(--rvo-icon-publicatie);
  mask-image: var(--rvo-icon-publicatie);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-publicatie {
  background-image: var(--rvo-icon-publicatie);
}

.rvo-icon-rechte-pijl {
  -webkit-mask-image: var(--rvo-icon-rechte-pijl);
  mask-image: var(--rvo-icon-rechte-pijl);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-rechte-pijl {
  background-image: var(--rvo-icon-rechte-pijl);
}

.rvo-icon-refresh {
  -webkit-mask-image: var(--rvo-icon-refresh);
  mask-image: var(--rvo-icon-refresh);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-refresh {
  background-image: var(--rvo-icon-refresh);
}

.rvo-icon-rss {
  -webkit-mask-image: var(--rvo-icon-rss);
  mask-image: var(--rvo-icon-rss);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-rss {
  background-image: var(--rvo-icon-rss);
}

.rvo-icon-secure-link {
  -webkit-mask-image: var(--rvo-icon-secure-link);
  mask-image: var(--rvo-icon-secure-link);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-secure-link {
  background-image: var(--rvo-icon-secure-link);
}

.rvo-icon-smartphone {
  -webkit-mask-image: var(--rvo-icon-smartphone);
  mask-image: var(--rvo-icon-smartphone);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-smartphone {
  background-image: var(--rvo-icon-smartphone);
}

.rvo-icon-tegelweergave {
  -webkit-mask-image: var(--rvo-icon-tegelweergave);
  mask-image: var(--rvo-icon-tegelweergave);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-tegelweergave {
  background-image: var(--rvo-icon-tegelweergave);
}

.rvo-icon-telefoon {
  -webkit-mask-image: var(--rvo-icon-telefoon);
  mask-image: var(--rvo-icon-telefoon);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-telefoon {
  background-image: var(--rvo-icon-telefoon);
}

.rvo-icon-terug {
  -webkit-mask-image: var(--rvo-icon-terug);
  mask-image: var(--rvo-icon-terug);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-terug {
  background-image: var(--rvo-icon-terug);
}

.rvo-icon-toegankelijkheid {
  -webkit-mask-image: var(--rvo-icon-toegankelijkheid);
  mask-image: var(--rvo-icon-toegankelijkheid);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-toegankelijkheid {
  background-image: var(--rvo-icon-toegankelijkheid);
}

.rvo-icon-toelichting {
  -webkit-mask-image: var(--rvo-icon-toelichting);
  mask-image: var(--rvo-icon-toelichting);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-toelichting {
  background-image: var(--rvo-icon-toelichting);
}

.rvo-icon-uit-aanknop {
  -webkit-mask-image: var(--rvo-icon-uit-aanknop);
  mask-image: var(--rvo-icon-uit-aanknop);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-uit-aanknop {
  background-image: var(--rvo-icon-uit-aanknop);
}

.rvo-icon-upload {
  -webkit-mask-image: var(--rvo-icon-upload);
  mask-image: var(--rvo-icon-upload);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-upload {
  background-image: var(--rvo-icon-upload);
}

.rvo-icon-user {
  -webkit-mask-image: var(--rvo-icon-user);
  mask-image: var(--rvo-icon-user);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-user {
  background-image: var(--rvo-icon-user);
}

.rvo-icon-versleutelen {
  -webkit-mask-image: var(--rvo-icon-versleutelen);
  mask-image: var(--rvo-icon-versleutelen);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-versleutelen {
  background-image: var(--rvo-icon-versleutelen);
}

.rvo-icon-verwijderen {
  -webkit-mask-image: var(--rvo-icon-verwijderen);
  mask-image: var(--rvo-icon-verwijderen);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-verwijderen {
  background-image: var(--rvo-icon-verwijderen);
}

.rvo-icon-verzenden {
  -webkit-mask-image: var(--rvo-icon-verzenden);
  mask-image: var(--rvo-icon-verzenden);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-verzenden {
  background-image: var(--rvo-icon-verzenden);
}

.rvo-icon-video {
  -webkit-mask-image: var(--rvo-icon-video);
  mask-image: var(--rvo-icon-video);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-video {
  background-image: var(--rvo-icon-video);
}

.rvo-icon-vinkje {
  -webkit-mask-image: var(--rvo-icon-vinkje);
  mask-image: var(--rvo-icon-vinkje);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-vinkje {
  background-image: var(--rvo-icon-vinkje);
}

.rvo-icon-vraagteken {
  -webkit-mask-image: var(--rvo-icon-vraagteken);
  mask-image: var(--rvo-icon-vraagteken);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-vraagteken {
  background-image: var(--rvo-icon-vraagteken);
}

.rvo-icon-zoek {
  -webkit-mask-image: var(--rvo-icon-zoek);
  mask-image: var(--rvo-icon-zoek);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-zoek {
  background-image: var(--rvo-icon-zoek);
}

.rvo-icon-bevestiging {
  -webkit-mask-image: var(--rvo-icon-bevestiging);
  mask-image: var(--rvo-icon-bevestiging);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-bevestiging {
  background-image: var(--rvo-icon-bevestiging);
}

.rvo-icon-foutmelding {
  -webkit-mask-image: var(--rvo-icon-foutmelding);
  mask-image: var(--rvo-icon-foutmelding);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-foutmelding {
  background-image: var(--rvo-icon-foutmelding);
}

.rvo-icon-waarschuwing {
  -webkit-mask-image: var(--rvo-icon-waarschuwing);
  mask-image: var(--rvo-icon-waarschuwing);
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.rvo-icon-bg-waarschuwing {
  background-image: var(--rvo-icon-waarschuwing);
}
