/* stylelint-disable scss/no-global-function-names */
@use "../../proprietary/design-tokens/dist/index.scss" as tokens;
@import "../../node_modules/@utrecht/components/button/css/mixin";
@import "../layout-column-row/index";

// Don't wrap label, don't shrink
.utrecht-button {
  flex-shrink: 0;
  text-wrap: nowrap;
}

// Subtle button
.utrecht-button--subtle.utrecht-button--hover:not(:disabled),
.utrecht-button--subtle.utrecht-button-link--hover:not(:disabled),
.utrecht-button--subtle:hover:not(:disabled, [aria-disabled="true"], .utrecht-button--disabled) {
  text-decoration: var(--utrecht-button-subtle-hover-text-decoration, underline);
  text-underline-offset: 30%;
}

// Tertiary action
@include utrecht-button-appearance("utrecht-button", "rvo-tertiary-action");

.utrecht-button--rvo-tertiary-action.utrecht-button--hover:not(:disabled),
.utrecht-button--rvo-tertiary-action.utrecht-button-link--hover:not(:disabled),
.utrecht-button--rvo-tertiary-action:hover:not(:disabled, [aria-disabled="true"], .utrecht-button--disabled) {
  text-decoration: var(--utrecht-button-rvo-tertiary-action-hover-text-decoration, underline);
  text-underline-offset: 30%;
}

// Quaternary action
@include utrecht-button-appearance("utrecht-button", "rvo-quaternary-action");

// Warning
@include utrecht-button-appearance("utrecht-button", "subtle-warning");

// Sizes
.utrecht-button--rvo-xs {
  --utrecht-button-font-size: var(--utrecht-button-rvo-xs-font-size);
  --utrecht-button-font-weight: var(--utrecht-button-rvo-xs-font-weight);
  --utrecht-button-min-block-size: var(--utrecht-button-rvo-xs-min-block-size);
  --utrecht-button-padding-block-end: var(--utrecht-button-rvo-xs-padding-block-end);
  --utrecht-button-padding-block-start: var(--utrecht-button-rvo-xs-padding-block-start);
  --utrecht-button-padding-inline-end: var(--utrecht-button-rvo-xs-padding-inline-end);
  --utrecht-button-padding-inline-start: var(--utrecht-button-rvo-xs-padding-inline-start);

  @extend .rvo-layout-row-inline;
  @extend .rvo-layout-gap--xs;
}

.utrecht-button--rvo-sm {
  --utrecht-button-font-size: var(--utrecht-button-rvo-sm-font-size);
  --utrecht-button-min-block-size: var(--utrecht-button-rvo-sm-min-block-size);
  --utrecht-button-padding-block-end: var(--utrecht-button-rvo-sm-padding-block-end);
  --utrecht-button-padding-block-start: var(--utrecht-button-rvo-sm-padding-block-start);
  --utrecht-button-padding-inline-end: var(--utrecht-button-rvo-sm-padding-inline-end);
  --utrecht-button-padding-inline-start: var(--utrecht-button-rvo-sm-padding-inline-start);

  @extend .rvo-layout-row-inline;
  @extend .rvo-layout-gap--sm;
}

.utrecht-button--rvo-md {
  --utrecht-button-font-size: var(--utrecht-button-rvo-md-font-size);
  --utrecht-button-padding-block-end: var(--utrecht-button-rvo-md-padding-block-end);
  --utrecht-button-padding-block-start: var(--utrecht-button-rvo-md-padding-block-start);
  --utrecht-button-padding-inline-end: var(--utrecht-button-rvo-md-padding-inline-end);
  --utrecht-button-padding-inline-start: var(--utrecht-button-rvo-md-padding-inline-start);

  @extend .rvo-layout-row-inline;
  @extend .rvo-layout-gap--md;
}

// Full width
.utrecht-button--rvo-full-width {
  --utrecht-button-inline-size: 100%;
  --utrecht-button-max-inline-size: 100%;
}

// Override primary icon colors
.utrecht-button--primary-action,
.utrecht-button--secondary-action,
.utrecht-button--rvo-tertiary-action,
.utrecht-button--rvo-quaternary-action,
.utrecht-button--subtle,
.utrecht-button--warning {
  .utrecht-icon.rvo-icon {
    background-color: var(--_utrecht-button-appearance-color, var(--_utrecht-button-color));
  }
}

.utrecht-button--subtle.utrecht-button--warning {
  .utrecht-icon.rvo-icon {
    --_utrecht-button-appearance-color: var(
      --utrecht-button-subtle-warning-color,
      --utrecht-button-appearance-color,
      var(--_utrecht-button-color)
    );
  }
}

.utrecht-button--primary-action:hover,
.utrecht-button--primary-action.utrecht-button--hover,
.utrecht-button--secondary-action:hover,
.utrecht-button--secondary-action.utrecht-button--hover,
.utrecht-button--rvo-tertiary-action:hover,
.utrecht-button--rvo-tertiary-action.utrecht-button--hover,
.utrecht-button--rvo-quaternary-action:hover,
.utrecht-button--rvo-quaternary-action.utrecht-button--hover,
.utrecht-button--subtle:hover,
.utrecht-button--subtle.utrecht-button--hover,
.utrecht-button--warning:hover,
.utrecht-button--warning.utrecht-button--hover {
  .utrecht-icon.rvo-icon {
    background-color: var(--_utrecht-button-appearance-hover-color, var(--_utrecht-button-hover-color));
  }
}

.utrecht-button--primary-action:disabled,
.utrecht-button--primary-action.utrecht-button--disabled,
.utrecht-button--secondary-action:disabled,
.utrecht-button--secondary-action.utrecht-button--disabled,
.utrecht-button--rvo-tertiary-action:disabled,
.utrecht-button--rvo-tertiary-action.utrecht-button--disabled,
.utrecht-button--rvo-quaternary-action:disabled,
.utrecht-button--rvo-quaternary-action.utrecht-button--disabled,
.utrecht-button--subtle:disabled,
.utrecht-button--subtle.utrecht-button--disabled,
.utrecht-button--warning:disabled,
.utrecht-button--warning.utrecht-button--disabled {
  .utrecht-icon.rvo-icon {
    background-color: var(--_utrecht-button-appearance-disabled-color, var(--_utrecht-button-disabled-color));
  }
}

.utrecht-button--primary-action:active:not(:disabled, [aria-disabled="true"], .utrecht-button--disabled),
.utrecht-button--secondary-action:active:not(:disabled, [aria-disabled="true"], .utrecht-button--disabled),
.utrecht-button--rvo-tertiary-action:active:not(:disabled, [aria-disabled="true"], .utrecht-button--disabled),
.utrecht-button--rvo-quaternary-action:active:not(:disabled, [aria-disabled="true"], .utrecht-button--disabled),
.utrecht-button--subtle:active:not(:disabled, [aria-disabled="true"], .utrecht-button--disabled),
.utrecht-button--warning:active:not(:disabled, [aria-disabled="true"], .utrecht-button--disabled),
.utrecht-button--active {
  .utrecht-icon.rvo-icon {
    background-color: var(--_utrecht-button-appearance-active-color, var(--_utrecht-button-active-color));
  }
}

.utrecht-button--primary-action:focus:not(:disabled, [aria-disabled="true"], .utrecht-button--disabled),
.utrecht-button--secondary-action:focus:not(:disabled, [aria-disabled="true"], .utrecht-button--disabled),
.utrecht-button--rvo-tertiary-action:focus:not(:disabled, [aria-disabled="true"], .utrecht-button--disabled),
.utrecht-button--rvo-quaternary-action:focus:not(:disabled, [aria-disabled="true"], .utrecht-button--disabled),
.utrecht-button--subtle:focus:not(:disabled, [aria-disabled="true"], .utrecht-button--disabled),
.utrecht-button--warning:focus:not(:disabled, [aria-disabled="true"], .utrecht-button--disabled),
.utrecht-button--focus {
  .utrecht-icon.rvo-icon {
    background-color: var(--_utrecht-button-appearance-focus-color, var(--_utrecht-button-focus-color));
  }
}
