.basiselementen-theme {
  .rvo-nl-demo-page {
    background-color: var(--basiselementen-color-wit);
    padding-inline: 32px;

    form {
      background-color: var(--basiselementen-color-lichtblauw-tint2);
      margin-block-start: 32px;
      margin-inline: auto;
      padding-block: 32px;
      padding-inline: 32px;
      width: min(768px, 100%);
    }
  }

  .basiselementen-demo-page {
    background-color: var(--basiselementen-color-lichtblauw-tint2);
    padding-block: 9px;
    padding-inline: 9px;

    form {
      margin-inline: auto;
      padding-block: 9px;
      padding-inline: 9px;
    }

    @media (min-width: 768px) {
      form {
        padding-block: 36px;
        padding-inline: 0;
      }
    }
  }

  @media (min-width: 768px) {
    .basiselementen-demo-page {
      padding-block: 32px;
      padding-inline: 32px;
    }
  }
}
