.basiselementen-theme {
  font-size: var(--basiselementen-root-font-size, 100%);
}
.basiselementen-theme body {
  font-size: var(--utrecht-document-font-size, 1rem);
}

/* Responsive font-sizes
@media (min-width: 768px) {
  :root {
    --basiselementen-root-font-size: 90%;
    --utrecht-document-font-size: 1.1rem;
  }
}

@media (min-width: 992px) {
  :root {
    --basiselementen-root-font-size: 100%;
    --utrecht-document-font-size: 1.2rem;
  }
}

*/
