.heroContainer {
  background-color: var(--rvo-color-lichtblauw-tint1);
}

.hero {
  padding-block: var(--rvo-space-2xl);
  padding-inline: var(--rvo-space-md);
}

.heroParagraph {
  max-width: 390px;
}

.articleGrid {
  display: grid;
  grid-gap: var(--rvo-space-3xl);
  grid-template-columns: 1fr 1fr 1fr;
}
