.heroBanner {
  overflow: hidden;
  padding-block-end: 4rem;
  padding-block-start: 4rem;
  padding-inline-end: 0;
  padding-inline-start: 0;
  position: relative;
  text-align: center;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding-block-end: 2rem;
    padding-block-start: 2rem;
    padding-inline-end: 2rem;
    padding-inline-start: 2rem;
  }
}

.buttons {
  align-items: center;
  display: flex;
  justify-content: center;
}
