.rvo-icon--activiteit {
  -webkit-mask-image: url("functioneel/activiteit.svg");
  mask-image: url("functioneel/activiteit.svg");
}

.rvo-icon--agile-werken {
  -webkit-mask-image: url("functioneel/agile-werken.svg");
  mask-image: url("functioneel/agile-werken.svg");
}

.rvo-icon--api-inrichting {
  -webkit-mask-image: url("functioneel/api-inrichting.svg");
  mask-image: url("functioneel/api-inrichting.svg");
}

.rvo-icon--audio {
  -webkit-mask-image: url("functioneel/audio.svg");
  mask-image: url("functioneel/audio.svg");
}

.rvo-icon--bel {
  -webkit-mask-image: url("functioneel/bel.svg");
  mask-image: url("functioneel/bel.svg");
}

.rvo-icon--bevestiging {
  -webkit-mask-image: url("functioneel/bevestiging.svg");
  mask-image: url("functioneel/bevestiging.svg");
}

.rvo-icon--bewerken {
  -webkit-mask-image: url("functioneel/bewerken.svg");
  mask-image: url("functioneel/bewerken.svg");
}

.rvo-icon--blog {
  -webkit-mask-image: url("functioneel/blog.svg");
  mask-image: url("functioneel/blog.svg");
}

.rvo-icon--comment {
  -webkit-mask-image: url("functioneel/comment.svg");
  mask-image: url("functioneel/comment.svg");
}

.rvo-icon--communicatie {
  -webkit-mask-image: url("functioneel/communicatie.svg");
  mask-image: url("functioneel/communicatie.svg");
}

.rvo-icon--delen {
  -webkit-mask-image: url("functioneel/delen.svg");
  mask-image: url("functioneel/delen.svg");
}

.rvo-icon--delta-naar-links {
  -webkit-mask-image: url("functioneel/delta-naar-links.svg");
  mask-image: url("functioneel/delta-naar-links.svg");
}

.rvo-icon--delta-naar-rechts {
  -webkit-mask-image: url("functioneel/delta-naar-rechts.svg");
  mask-image: url("functioneel/delta-naar-rechts.svg");
}

.rvo-icon--delta-omhoog {
  -webkit-mask-image: url("functioneel/delta-omhoog.svg");
  mask-image: url("functioneel/delta-omhoog.svg");
}

.rvo-icon--delta-omlaag {
  -webkit-mask-image: url("functioneel/delta-omlaag.svg");
  mask-image: url("functioneel/delta-omlaag.svg");
}

.rvo-icon--diagonale-pijl-diapositief {
  -webkit-mask-image: url("functioneel/diagonale-pijl-diapositief.svg");
  mask-image: url("functioneel/diagonale-pijl-diapositief.svg");
}

.rvo-icon--diagonale-pijl {
  -webkit-mask-image: url("functioneel/diagonale-pijl.svg");
  mask-image: url("functioneel/diagonale-pijl.svg");
}

.rvo-icon--downloaden {
  -webkit-mask-image: url("functioneel/downloaden.svg");
  mask-image: url("functioneel/downloaden.svg");
}

.rvo-icon--externe-link {
  -webkit-mask-image: url("functioneel/externe-link.svg");
  mask-image: url("functioneel/externe-link.svg");
}

.rvo-icon--favoriet {
  -webkit-mask-image: url("functioneel/favoriet.svg");
  mask-image: url("functioneel/favoriet.svg");
}

.rvo-icon--foto-vergroten {
  -webkit-mask-image: url("functioneel/foto-vergroten.svg");
  mask-image: url("functioneel/foto-vergroten.svg");
}

.rvo-icon--foutmelding {
  -webkit-mask-image: url("functioneel/foutmelding.svg");
  mask-image: url("functioneel/foutmelding.svg");
}

.rvo-icon--gegevensuitwisseling {
  -webkit-mask-image: url("functioneel/gegevensuitwisseling.svg");
  mask-image: url("functioneel/gegevensuitwisseling.svg");
}

.rvo-icon--geluid-aan {
  -webkit-mask-image: url("functioneel/geluid-aan.svg");
  mask-image: url("functioneel/geluid-aan.svg");
}

.rvo-icon--geluid-uit {
  -webkit-mask-image: url("functioneel/geluid-uit.svg");
  mask-image: url("functioneel/geluid-uit.svg");
}

.rvo-icon--haakse-pijl-diapositief {
  -webkit-mask-image: url("functioneel/haakse-pijl-diapositief.svg");
  mask-image: url("functioneel/haakse-pijl-diapositief.svg");
}

.rvo-icon--haakse-pijl {
  -webkit-mask-image: url("functioneel/haakse-pijl.svg");
  mask-image: url("functioneel/haakse-pijl.svg");
}

.rvo-icon--hashtag {
  -webkit-mask-image: url("functioneel/hashtag.svg");
  mask-image: url("functioneel/hashtag.svg");
}

.rvo-icon--home {
  -webkit-mask-image: url("functioneel/home.svg");
  mask-image: url("functioneel/home.svg");
}

.rvo-icon--info {
  -webkit-mask-image: url("functioneel/info.svg");
  mask-image: url("functioneel/info.svg");
}

.rvo-icon--inloggen {
  -webkit-mask-image: url("functioneel/inloggen.svg");
  mask-image: url("functioneel/inloggen.svg");
}

.rvo-icon--instellingen {
  -webkit-mask-image: url("functioneel/instellingen.svg");
  mask-image: url("functioneel/instellingen.svg");
}

.rvo-icon--interne-link {
  -webkit-mask-image: url("functioneel/interne-link.svg");
  mask-image: url("functioneel/interne-link.svg");
}

.rvo-icon--kalender {
  -webkit-mask-image: url("functioneel/kalender.svg");
  mask-image: url("functioneel/kalender.svg");
}

.rvo-icon--klok {
  -webkit-mask-image: url("functioneel/klok.svg");
  mask-image: url("functioneel/klok.svg");
}

.rvo-icon--kruis {
  -webkit-mask-image: url("functioneel/kruis.svg");
  mask-image: url("functioneel/kruis.svg");
}

.rvo-icon--let-op-met-loep {
  -webkit-mask-image: url("functioneel/let-op-met-loep.svg");
  mask-image: url("functioneel/let-op-met-loep.svg");
}

.rvo-icon--let-op {
  -webkit-mask-image: url("functioneel/let-op.svg");
  mask-image: url("functioneel/let-op.svg");
}

.rvo-icon--locatiemarker {
  -webkit-mask-image: url("functioneel/locatiemarker.svg");
  mask-image: url("functioneel/locatiemarker.svg");
}

.rvo-icon--mail {
  -webkit-mask-image: url("functioneel/mail.svg");
  mask-image: url("functioneel/mail.svg");
}

.rvo-icon--meer {
  -webkit-mask-image: url("functioneel/meer.svg");
  mask-image: url("functioneel/meer.svg");
}

.rvo-icon--menu {
  -webkit-mask-image: url("functioneel/menu.svg");
  mask-image: url("functioneel/menu.svg");
}

.rvo-icon--nieuws {
  -webkit-mask-image: url("functioneel/nieuws.svg");
  mask-image: url("functioneel/nieuws.svg");
}

.rvo-icon--permanent-beta {
  -webkit-mask-image: url("functioneel/permanent-beta.svg");
  mask-image: url("functioneel/permanent-beta.svg");
}

.rvo-icon--pijl-naar-rechts {
  -webkit-mask-image: url("functioneel/pijl-naar-rechts.svg");
  mask-image: url("functioneel/pijl-naar-rechts.svg");
}

.rvo-icon--pijl-naar-rechtsboven {
  -webkit-mask-image: url("functioneel/pijl-naar-rechtsboven.svg");
  mask-image: url("functioneel/pijl-naar-rechtsboven.svg");
}

.rvo-icon--pijl-omhoog {
  -webkit-mask-image: url("functioneel/pijl-omhoog.svg");
  mask-image: url("functioneel/pijl-omhoog.svg");
}

.rvo-icon--pijl-omlaag {
  -webkit-mask-image: url("functioneel/pijl-omlaag.svg");
  mask-image: url("functioneel/pijl-omlaag.svg");
}

.rvo-icon--plus {
  -webkit-mask-image: url("functioneel/plus.svg");
  mask-image: url("functioneel/plus.svg");
}

.rvo-icon--printer {
  -webkit-mask-image: url("functioneel/printer.svg");
  mask-image: url("functioneel/printer.svg");
}

.rvo-icon--publicatie {
  -webkit-mask-image: url("functioneel/publicatie.svg");
  mask-image: url("functioneel/publicatie.svg");
}

.rvo-icon--rechte-pijl-diapositief {
  -webkit-mask-image: url("functioneel/rechte-pijl-diapositief.svg");
  mask-image: url("functioneel/rechte-pijl-diapositief.svg");
}

.rvo-icon--rechte-pijl {
  -webkit-mask-image: url("functioneel/rechte-pijl.svg");
  mask-image: url("functioneel/rechte-pijl.svg");
}

.rvo-icon--refresh {
  -webkit-mask-image: url("functioneel/refresh.svg");
  mask-image: url("functioneel/refresh.svg");
}

.rvo-icon--rss {
  -webkit-mask-image: url("functioneel/rss.svg");
  mask-image: url("functioneel/rss.svg");
}

.rvo-icon--secure-link {
  -webkit-mask-image: url("functioneel/secure-link.svg");
  mask-image: url("functioneel/secure-link.svg");
}

.rvo-icon--smartphone {
  -webkit-mask-image: url("functioneel/smartphone.svg");
  mask-image: url("functioneel/smartphone.svg");
}

.rvo-icon--tegelweergave {
  -webkit-mask-image: url("functioneel/tegelweergave.svg");
  mask-image: url("functioneel/tegelweergave.svg");
}

.rvo-icon--telefoon-diapositief {
  -webkit-mask-image: url("functioneel/telefoon-diapositief.svg");
  mask-image: url("functioneel/telefoon-diapositief.svg");
}

.rvo-icon--telefoon {
  -webkit-mask-image: url("functioneel/telefoon.svg");
  mask-image: url("functioneel/telefoon.svg");
}

.rvo-icon--terug {
  -webkit-mask-image: url("functioneel/terug.svg");
  mask-image: url("functioneel/terug.svg");
}

.rvo-icon--toegankelijkheid {
  -webkit-mask-image: url("functioneel/toegankelijkheid.svg");
  mask-image: url("functioneel/toegankelijkheid.svg");
}

.rvo-icon--toelichting {
  -webkit-mask-image: url("functioneel/toelichting.svg");
  mask-image: url("functioneel/toelichting.svg");
}

.rvo-icon--uit-aanknop {
  -webkit-mask-image: url("functioneel/uit-aanknop.svg");
  mask-image: url("functioneel/uit-aanknop.svg");
}

.rvo-icon--upload {
  -webkit-mask-image: url("functioneel/upload.svg");
  mask-image: url("functioneel/upload.svg");
}

.rvo-icon--user {
  -webkit-mask-image: url("functioneel/user.svg");
  mask-image: url("functioneel/user.svg");
}

.rvo-icon--versleutelen {
  -webkit-mask-image: url("functioneel/versleutelen.svg");
  mask-image: url("functioneel/versleutelen.svg");
}

.rvo-icon--verwijderen {
  -webkit-mask-image: url("functioneel/verwijderen.svg");
  mask-image: url("functioneel/verwijderen.svg");
}

.rvo-icon--verzenden {
  -webkit-mask-image: url("functioneel/verzenden.svg");
  mask-image: url("functioneel/verzenden.svg");
}

.rvo-icon--video {
  -webkit-mask-image: url("functioneel/video.svg");
  mask-image: url("functioneel/video.svg");
}

.rvo-icon--vinkje {
  -webkit-mask-image: url("functioneel/vinkje.svg");
  mask-image: url("functioneel/vinkje.svg");
}

.rvo-icon--vraagteken {
  -webkit-mask-image: url("functioneel/vraagteken.svg");
  mask-image: url("functioneel/vraagteken.svg");
}

.rvo-icon--waarschuwing {
  -webkit-mask-image: url("functioneel/waarschuwing.svg");
  mask-image: url("functioneel/waarschuwing.svg");
}

.rvo-icon--zoek {
  -webkit-mask-image: url("functioneel/zoek.svg");
  mask-image: url("functioneel/zoek.svg");
}
