// Dialog
.rvo-dialog {
  $rvo-dialog-centered-sizes: sm, md, lg, xl;

  --rvo-dialog-background: initial;
  --rvo-dialog-border: none;
  --rvo-dialog-centered-width: var(--rvo-dialog-centered-dialog-sm-width);

  background-color: var(--rvo-dialog-background);
  border: var(--rvo-dialog-border);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-block-end: var(--rvo-dialog-padding-block-end);
  padding-block-start: var(--rvo-dialog-padding-block-start);
  padding-inline-end: var(--rvo-dialog-padding-inline-end);
  padding-inline-start: var(--rvo-dialog-padding-inline-start);

  // background
  &--wit {
    --rvo-dialog-background: var(--rvo-color-wit);
  }

  &--grijs-200 {
    --rvo-dialog-background: var(--rvo-color-grijs-200);
  }

  // border
  &--outline {
    --rvo-dialog-border: 1px solid var(--rvo-dialog-outline-color);
  }

  // centered version
  &--centered-dialog {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 50%;
    margin: 0;
    max-height: var(--rvo-dialog-centered-dialog-max-height);
    max-width: 100%;
    min-height: var(--rvo-dialog-centered-dialog-min-height);
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: var(--rvo-dialog-centered-width);
    z-index: 999;

    // centered dialog sizes
    @each $size in $rvo-dialog-centered-sizes {
      &--#{$size} {
        --rvo-dialog-centered-width: var(--rvo-dialog-centered-dialog-#{$size}-width);
      }
    }
  }

  // dialog content
  &__content {
    width: 100%;

    &--with-action-group {
      flex: 1;
      overflow-y: auto;
    }
  }
}

// positions
.rvo-dialog--drawer-right, // @deprecated: inset-inline-end is the new renamed version.
.rvo-dialog--drawer-left, // @deprecated: inset-inline-start is the new renamed version.
.rvo-dialog--inset-inline-end,
.rvo-dialog--inset-inline-start {
  height: 100vh;
  left: 0;
  margin: initial;
  max-width: var(--rvo-dialog-drawer-max-width);
  min-width: var(--rvo-dialog-drawer-min-width);
  position: fixed;
  top: 0;
  width: var(--rvo-dialog-drawer-width);
  z-index: 999;
}

.rvo-dialog--drawer-right, // @deprecated: inset-inline-end is the new renamed version.
.rvo-dialog--inset-inline-end {
  left: unset;
  right: 0;
}

// Dialog background
.rvo-dialog__background::before {
  background-color: var(--rvo-dialog-background-bg-color);
  content: "";
  display: block;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 998;
}

// Dialog close icon
.rvo-dialog__close-icon {
  --utrecht-icon-color: var(--rvo-mobile-menu-toggle-icon-color);

  align-self: flex-end;
  cursor: pointer;
  position: absolute;
  top: var(--rvo-dialog-padding-block-start);
}

// Action group
.rvo-dialog__action-group {
  margin-block-start: var(--rvo-dialog-action-group-margin-block-start);
  width: 100%;
}
