@mixin blockquote {
  /* @BLOCKQUOTE */

  .rvo-blockquote {
    background-color: var(--rvo-color-hemelblauw-tint2);
    font-size: var(--rvo-font-size-md);
    font-style: italic;
    line-height: var(--rvo-line-height-md);
    margin-inline-end: 0;
    margin-inline-start: 0;
    padding-block-end: var(--rvo-space-md);
    padding-block-start: var(--rvo-space-md);
    padding-inline-end: var(--rvo-space-2xl);
    padding-inline-start: var(--rvo-space-2xl);
  }
}
