@mixin filters {
  /* @FILTERS */

  .rvo-tmp-filter {
    position: relative;
  }

  .rvo-tmp-filter summary::-webkit-details-marker,
  .rvo-tmp-filter summary::marker {
    content: "";
    display: none;
  }

  .rvo-tmp-filter .utrecht-select {
    padding-block-end: 6px;
    padding-block-start: 6px;
    width: 148px;
  }

  .rvo-tmp-filter[open] .utrecht-select {
    background-color: var(--rvo-color-hemelblauw-tint2);
    padding-block-end: 8px;
  }

  .rvo-tmp-filter .rvo-checkbox__group {
    background-color: var(--rvo-color-wit);
    border: 2px solid var(--rvo-color-zwart);
    border-top: 0;
    padding-block-end: var(--rvo-space-xs);
    padding-block-start: var(--rvo-space-xs);
    padding-inline-end: var(--rvo-space-xs);
    padding-inline-start: var(--rvo-space-xs);
    position: relative;
    top: -2px;
    width: 180px;
  }

  .rvo-tmp-filters .utrecht-textbox {
    padding-block-end: 8px;
    padding-block-start: 10px;
  }

  .rvo-tmp-filters .rvo-layout-row {
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}
