@mixin form-layout {
  .rvo-form-layout {
    width: 100%; /* Toevoeging om formulier even breed als max-width te tonen wanneer het formulier kleiner is dan max-width */
  }

  .rvo-inline-form {
    display: flex;
    width: 100%;
  }

  .rvo-inline-form .utrecht-textbox {
    padding-block-end: 0.6rem;
    padding-block-start: 0.75rem; /* Iets meer padding aan de bovenkant zodat de input uitlijnt met de button */
  }

  .rvo-inline-form .utrecht-button {
    align-self: flex-end;
  }

  .rvo-inline-form .rvo-form-field {
    flex: 1;
    margin-block-end: 0;
  }
}
