@mixin layout-resets {
  /* TEMP HEADING FIX */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block-end: 0;
    margin-block-start: 0;
  }

  /* VERWIJDERD ONNODIGE MARGIN BIJ ELEMENTEN MET NIEUWE RVO LAYOUT SPACER */
  .rvo-form-field,
  .rvo-form-field__label {
    margin-block-end: 0;
  }

  .rvo-form-field__helper-text {
    padding-block-start: 0;
  }

  .rvo-expandable-text__details {
    padding-block-end: 0;
    padding-block-start: 0;
  }

  .rvo-custom-radio-button__group--vertical .rvo-custom-radio-button__label:last-child,
  .rvo-checkbox__group--vertical .rvo-checkbox:last-child {
    margin-block-end: 0;
  }

  .rvo-custom-radio-button__group--vertical .rvo-custom-radio-button__label:first-child,
  .rvo-checkbox__group--vertical .rvo-checkbox:first-child {
    margin-block-start: 0;
  }

  .rvo-checkbox__group--horizontal .rvo-checkbox:first-child,
  .rvo-custom-radio-button__group--horizontal .rvo-custom-radio-button__label:first-child {
    margin-inline-start: 0;
  }
}
