@mixin menu {
  .rvo-top {
    background-color: var(--rvo-color-grijs1);
  }

  .rvo-menu {
    display: flex;
    list-style: none;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
    padding-block-end: 0;
    padding-block-start: 0;
    padding-inline-end: 0;
    padding-inline-start: 0;
  }

  .rvo-menu-item:last-child {
    margin-inline-start: auto;
  }

  .rvo-menu--top-menu {
    justify-content: flex-end;
  }

  .rvo-menu--toggle-menu {
    justify-content: flex-end;
  }

  .rvo-menu-link,
  .rvo-no-link {
    align-items: center;
    display: flex;
  }

  .rvo-menu-link .rvo-icon-home {
    margin-block-start: calc(var(--rvo-space-3xs) * -1);
  }

  .rvo-menu--top-menu .rvo-menu-link {
    color: var(--rvo-color-grijs7);
    font-weight: var(--rvo-font-weight-regular);
  }

  .rvo-menu-link--small,
  .rvo-no-link {
    font-size: var(--rvo-font-size-sm);
    padding-block-end: var(--rvo-space-xs);
    padding-block-start: var(--rvo-space-xs);
    padding-inline-end: var(--rvo-space-sm);
    padding-inline-start: var(--rvo-space-sm);
  }

  .rvo-menu-link--medium {
    font-weight: var(--rvo-font-weight-regular);
    padding-block-end: var(--rvo-space-md);
    padding-block-start: var(--rvo-space-md);
    padding-inline-end: var(--rvo-space-xl);
    padding-inline-start: var(--rvo-space-xl);
  }

  .rvo-menu-link--expandable {
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 16px 100%;
    padding-inline-end: var(--rvo-space-xl);
  }

  .rvo-icon--before + .rvo-menu-link {
    padding-inline-start: var(--rvo-space-md);
  }

  .rvo-navigation {
    position: sticky;
    top: -1px;
    z-index: 3;
  }

  .rvo-navigation--hemelblauw {
    background-color: var(--rvo-color-hemelblauw);
  }

  .rvo-navigation--donkerblauw {
    background-color: var(--rvo-color-donkerblauw);
  }

  .rvo-navigation--hemelblauw .rvo-menu-link,
  .rvo-navigation--donkerblauw .rvo-menu-link {
    color: var(--rvo-color-wit);
  }

  .rvo-main-menu {
    display: none;
  }

  .rvo-navigation--w-shadow {
    box-shadow: 0 0 #000, 0 0 #000, 0 1.25rem 0.62rem -0.62rem rgb(21 66 115 / 15%);
  }

  .rvo-sub-navigation {
    background-color: var(--rvo-color-donkerblauw);
    display: none;
    position: sticky;
    top: 49px;
    z-index: 3;
  }
}
