@mixin results {
  /* @RESULTS */

  .rvo-result .rvo-link {
    font-size: var(--rvo-font-size-lg);
  }

  .rvo-result-meta-data {
    display: flex;
    font-size: var(--rvo-font-size-sm);
    gap: var(--rvo-space-md);
  }

  .rvo-result-meta--column {
    flex-direction: column;
    gap: 0;
  }

  .rvo-result-meta-data-item {
    display: flex;
    font-size: var(--rvo-font-size-sm);
    gap: var(--rvo-space-2xs);
  }

  .rvo-result--w-image > .rvo-layout-row {
    align-items: flex-start;
    flex-wrap: nowrap;
  }

  .rvo-result-image {
    max-width: 200px;
    padding-block-start: var(--rvo-space-xs);
  }

  .rvo-result-profile-pic {
    border-radius: 50%;
    max-width: 125px;
    padding-block-start: var(--rvo-space-xs);
  }
}
