@mixin responsive {
  @media (min-width: 612px) {
    .rvo-data {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .rvo-data dd,
    .rvo-data dt {
      padding-block-end: var(--rvo-space-xs);
      padding-block-start: var(--rvo-space-xs);
      padding-inline-end: var(--rvo-space-md);
      padding-inline-start: var(--rvo-space-md);
    }

    .rvo-data dd {
      border-left: 1px solid var(--rvo-color-grijs4);
      border-top: 1px solid var(--rvo-color-grijs4);
    }

    .rvo-data dd:nth-of-type(1) {
      border-top: 0;
    }

    .rvo-button-group {
      padding-inline-end: 0;
      padding-inline-start: 0;
    }
  }

  @media (min-width: 768px) {
    .rvo-menu--toggle-menu {
      display: none;
    }

    .rvo-main-menu {
      display: block;
    }

    .rvo-progress-tracker-active {
      display: grid;
      grid-template-columns: 1fr 2fr;
      margin-inline-end: auto;
      margin-inline-start: auto;
    }

    .rvo-form .rvo-intro {
      padding-inline-end: 0;
      padding-inline-start: 0;
    }

    // .rvo-form {
    //   padding-inline-end: var(--rvo-space-xl);
    // }
  }
}
