@mixin search {
  /* @SEARCH IN NAV */

  .rvo-topnav__link--search-active {
    background-color: var(--rvo-color-grijs1);
    color: var(--rvo-color-grijs7);
  }

  .rvo-topnav__link--search-active:hover,
  .rvo-topnav__link--search-active:focus {
    background-color: var(--rvo-color-grijs2);
    color: var(--rvo-color-grijs7);
  }
}
