@mixin submenu {
  /* @SUBMENU */

  .rvo-navigation li.utrecht-topnav__item:nth-child(2) a {
    background-color: var(--rvo-color-donkerblauw);

    /* Hacky manier om tweede expanded menu item in submenu demo page blauw te krijgen. Moet er z.s.m. uit! */
  }

  .rvo-tmp-submenu-wrapper .rvo-topnav__background,
  .rvo-tmp-submenu-wrapper .utrecht-topnav__list {
    background-color: var(--rvo-color-donkerblauw);
  }

  .rvo-tmp-submenu-wrapper--grid .utrecht-topnav__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .rvo-topnav__link--submenu {
    align-items: flex-start;
    text-align: start;
  }

  .rvo-tmp-submenu-wrapper--grid .rvo-topnav__spacer {
    display: none;

    /* TEMP FIX OM DE 00 BUG WEG TE KRIJGEN ALS ER GEEN ALIGN RIGHT ITEM IS */
  }
}
