@mixin typography {
  /* @TMP FIXES */

  .rvo-progress-tracker {
    min-width: 268px;
  }

  .rvo-form {
    min-width: 600px;
  }

  dl,
  blockquote,
  cite {
    margin-block-end: var(--rvo-space-md);
    margin-block-start: 0;
  }
}
