/* stylelint-disable property-disallowed-list */
/* stylelint-disable selector-class-pattern */
.features {
  align-items: center;
  display: flex;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
