{
  "overrides": [
    {
      "files": ["*.mjs"],
      "options": {
        "parser": "babel",
        "printWidth": 120,
        "trailingComma": "all",
        "tabWidth": 2,
        "singleQuote": true
      }
    }
  ]
}
