/* @FORM */

.rvo-theme {
  .rvo-nl-demo-page {
    .utrecht-form-fieldset {
      --utrecht-space-around: 1;
    }
    .utrecht-form-field:not(:last-of-type) {
      padding-block-end: var(--rvo-space-xs);
    }
  }
  .rvo-nl-demo-page,
  .basiselementen-demo-page {
    .rvo-form {
      min-width: 600px;
    }
  }
}
