/* @LAYOUT @SPACER */

.rvo-layout-spacer {
  display: flex;
  flex-direction: column;
}

.rvo-layout-spacer--2xs {
  gap: var(--rvo-space-3xs);
}

.rvo-layout-spacer--xs {
  gap: var(--rvo-space-2xs);
}

.rvo-layout-spacer--sm {
  gap: var(--rvo-space-xs);
}

.rvo-layout-spacer--md {
  gap: var(--rvo-space-md);
}

.rvo-layout-spacer--lg {
  gap: var(--rvo-space-lg);
}

.rvo-layout-spacer--xl {
  gap: var(--rvo-space-xl);
}

.rvo-layout-spacer--2xl {
  gap: var(--rvo-space-2xl);
}

.rvo-layout-spacer--3xl {
  gap: var(--rvo-space-3xl);
}

.rvo-layout-spacer--4xl {
  gap: var(--rvo-space-4xl);
}
