@use "~@utrecht/heading-1-css/dist/index.css" as *;
@use "~@utrecht/heading-2-css/dist/index.css" as *;
@use "~@utrecht/heading-3-css/dist/index.css" as *;
@use "~@utrecht/heading-4-css/dist/index.css" as *;
@use "~@utrecht/heading-5-css/dist/index.css" as *;
@use "~@utrecht/heading-6-css/dist/index.css" as *;

.rvo-heading {
  align-items: center;
  color: var(--rvo-color-lintblauw);
  display: flex;

  & .rvo-icon {
    --utrecht-icon-color: var(--rvo-color-lintblauw);
  }

  &--normal {
    font-weight: var(--rvo-font-weight-normal);
  }

  &--gap-xs {
    gap: var(--rvo-space-xs);
  }

  &--gap-sm {
    gap: var(--rvo-space-sm);
  }

  @for $i from 1 through 6 {
    &--margin-#{$i} {
      margin-block-end: var(--utrecht-heading-#{$i}-margin-block-end);
      margin-block-start: var(--utrecht-heading-#{$i}-margin-block-start);
    }
  }
}

// If there is an RVO Icon available then override the sizes through these selectors
h1.rvo-heading,
h2.rvo-heading {
  .rvo-icon {
    --utrecht-icon-size: var(--rvo-icon-xl-width);
  }
}

h3.rvo-heading,
h4.rvo-heading {
  .rvo-icon {
    --utrecht-icon-size: var(--rvo-icon-lg-width);
  }
}

h5.rvo-heading,
h6.rvo-heading {
  .rvo-icon {
    --utrecht-icon-size: var(--rvo-icon-md-width);
  }
}
