.rvo-item-list {
  list-style: none;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}

.rvo-item-list__item {
  border-bottom: var(--rvo-item-list-border-width) var(--rvo-item-list-border-style) var(--rvo-item-list-border-color);
  padding-block-end: var(--rvo-item-list-padding-block-end);
  padding-block-start: var(--rvo-item-list-padding-block-start);
  width: 100%;
}
