.docMainContainer {
  display: flex;
  padding-block-end: var(--rvo-space-xl);
  padding-block-start: var(--rvo-space-sm);
  padding-inline-end: var(--rvo-space-xl);
  padding-inline-start: var(--rvo-space-xl);
  width: 100%;
}

@media (min-width: 997px) {
  .docMainContainer {
    flex-grow: 1;
    max-width: calc(100% - var(--doc-sidebar-width));
  }

  .docMainContainerEnhanced {
    max-width: calc(100% - var(--doc-sidebar-hidden-width));
  }

  .docItemWrapperEnhanced {
    max-width: calc(var(--ifm-container-width) + var(--doc-sidebar-width)) !important;
  }
}
