@use "../../../../components/helpers-text/src" as *;
@use "../../../../components/helpers-margin/src" as *;
@use "../../../../components/helpers-padding/src" as *;

.rvo-theme {
  background-color: var(--rvo-document-background-color);
  color: var(--rvo-document-color);
  font-family: var(--rvo-document-font-family);
  font-size: var(--rvo-document-font-size);
  font-weight: var(--rvo-document-font-weight);
  line-height: var(--rvo-document-line-height);
}
