.componentExample {
  border-color: var(--rvo-color-grijs-200);
  border-style: solid;
  border-width: 1px;
  width: 100%;
  margin-block-end: var(--rvo-space-xl);

  p {
    margin: 0;
  }
}

.infoContainer {
  padding-block: var(--rvo-space-md);
  padding-inline: var(--rvo-space-md);
  position: relative;
}

.openInNewTabLink {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.componentContainer {
  border-bottom-color: var(--rvo-color-grijs-200);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  overflow: auto;
  padding-block: var(--rvo-space-xl);
  padding-inline: var(--rvo-space-xl);
}

.expandableWrapper {
  min-width: 0;
  width: 100%;
}

.codeBlockContainer {
  margin-block-start: var(--rvo-space-md);
}

.codeBlockContainer pre {
  padding: var(--rvo-space-lg);
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

.codeBlockContainer :global(.theme-code-block) {
  box-shadow: none;
}

.codeBlockContainer :global(.theme-code-block) button {
  display: none;
}

.codeBlockContainer > :global(button) {
  margin-block-start: var(--rvo-space-sm);
}
