.rvo-badge {
  background-color: var(--rvo-color-hemelblauw-300);
  border-radius: 24px;
  color: var(--rvo-color-zwart);
  display: inline-block;
  margin-inline-start: var(--rvo-space-2xs);
  padding-inline-end: var(--rvo-space-xs);
  padding-inline-start: var(--rvo-space-xs);
  text-align: center;
}
