@use "@nl-rvo/components/heading/dist" as *;
@use "@nl-rvo/components/link/dist" as *;

/* stylelint-disable custom-property-pattern */

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* Fallback CSS custom properties in case design tokens don't load */
:root {
  --rvo-space-xs: 8px;
  --rvo-space-sm: 12px;
  --rvo-space-md: 16px;
  --rvo-space-lg: 24px;
  --rvo-space-xl: 32px;
  --rvo-space-2xs: 4px;
  --rvo-color-hemelblauw: #007bc7;
  --rvo-color-donkerblauw: #154273;
  --rvo-color-lichtblauw: #8fcae7;
  --rvo-color-wit: #ffffff;
  --rvo-color-zwart: #000000;
  --rvo-color-grijs-700: #595959;
  --rvo-sidebar-layout-sidebar-background-color: #f7f7f7;
}

/* You can override the default Infima variables here. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
}

html.docs-wrapper.plugin-docs {
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgb(0 0 0 / 10%);
  --doc-sidebar-hidden-width: 0px;
  --doc-sidebar-width: 240px;
  --ifm-container-width: 1100px;
  --ifm-list-item-margin: 0px;
  --ifm-leading: 1rem;
  --ifm-h1-vertical-rhythm-bottom: 1;
  --ifm-h2-vertical-rhythm-bottom: 1;
  --ifm-h3-vertical-rhythm-bottom: 1;
  --ifm-h4-vertical-rhythm-bottom: 1;
  --ifm-h5-vertical-rhythm-bottom: 1;
  --ifm-h6-vertical-rhythm-bottom: 1;
  --ifm-h1-vertical-rhythm-top: 1;
  --ifm-h2-vertical-rhythm-top: 1;
  --ifm-h3-vertical-rhythm-top: 1;
  --ifm-h4-vertical-rhythm-top: 1;
  --ifm-h5-vertical-rhythm-top: 1;
  --ifm-h6-vertical-rhythm-top: 1;
  --ifm-navbar-height: 48px;
  --ifm-spacing-horizontal: 0;
  --ifm-table-border-width: 0;
  --ifm-table-cell-padding: 0;
  --ifm-font-family-base: "RijksoverheidSansWebText";
  --ifm-color-primary: var(--rvo-color-hemelblauw);
  --ifm-color-primary-dark: var(--rvo-color-hemelblauw);
  --ifm-color-primary-darker: var(--rvo-color-donkerblauw);
  --ifm-color-primary-darkest: var(--rvo-color-donkerblauw-150);
  --ifm-color-primary-light: var(--rvo-color-hemelblauw-150);
  --ifm-color-primary-lighter: var(--rvo-color-hemelblauw-150);
  --ifm-color-primary-lightest: var(--rvo-color-lichtblauw-150);
  --ifm-link-hover-decoration: underline;
  --ifm-menu-link-padding-horizontal: 0;
  --ifm-menu-color-background-active: none;
  --ifm-menu-color-background-hover: none;
  --ifm-code-border-radius: 0;
  --ifm-pre-padding: 0;
  --ifm-paragraph-margin-bottom: 0;

  // Fix MD headings
  h1:not(.component-example h1) {
    @extend .utrecht-heading-1;
  }

  h2:not(.component-example h2) {
    @extend .utrecht-heading-2;
  }

  h3:not(.component-example h3) {
    @extend .utrecht-heading-3;
  }

  h4:not(.component-example h4) {
    @extend .utrecht-heading-4;
  }

  h5:not(.component-example h5) {
    @extend .utrecht-heading-5;
  }

  h6:not(.component-example h6) {
    @extend .utrecht-heading-6;
  }

  article a:not(article .component-example a) {
    @extend .rvo-link;
  }
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: var(--rvo-color-lichtblauw);
  --ifm-color-primary-dark: var(--rvo-color-hemelblauw-150);
  --ifm-color-primary-darker: var(--rvo-color-lichtblauw);
  --ifm-color-primary-darkest: var(--rvo-color-hemelblauw);
  --ifm-color-primary-light: var(--rvo-color-lichtblauw-150);
  --ifm-color-primary-lighter: var(--rvo-color-lichtblauw-150);
  --ifm-color-primary-lightest: var(--rvo-color-wit);
  --docusaurus-highlighted-code-line-bg: rgb(0 0 0 / 30%);
}

.rvo-theme {
  .rvo-menubar {
    --rvo-link-hover-font-weight: 400;
  }

  .pagination-nav .pagination-nav__link {
    border: none;
    padding: 0;
  }

  .markdown.theme-doc-markdown {
    margin-block-start: 0 !important;
  }

  .markdown header > h1:first-child {
    margin-block-start: var(--rvo-space-xs);
  }

  .markdown blockquote {
    padding-inline: var(--rvo-space-md);
  }

  .markdown table td,
  .markdown th {
    padding-block-end: var(--rvo-table-header-padding-block-end);
    padding-block-start: var(--rvo-table-header-padding-block-start);
    padding-inline-end: var(--rvo-table-header-padding-inline-end);
    padding-inline-start: var(--rvo-table-header-padding-inline-start);
  }

  .markdown p {
    margin-bottom: var(--ifm-leading);
  }

  p,
  ul,
  ol {
    line-height: 150%;
  }

  code {
    padding-block: var(--rvo-space-2xs) !important;
    padding-inline: var(--rvo-space-xs) !important;
  }

  .hash-link:focus,
  *:hover > .hash-link {
    display: none;
  }

  .menu__link,
  .menu__caret {
    border-radius: 0;
  }

  .menu__list-item-collapsible {
    font-size: var(--rvo-size-md);

    &:hover {
      background: none;
    }
  }

  .theme-doc-sidebar-item-category .rvo-link.rvo-link--no-underline:hover {
    text-decoration: underline;
  }

  .theme-doc-sidebar-item-category
    .menu__list-item-collapsible--active
    ~ .menu__list
    .theme-doc-sidebar-item-link
    .rvo-link {
    margin-inline-start: var(--rvo-space-xs);
  }

  // Fix logo
  .rvo-header {
    margin-inline-end: 0 !important;
    margin-inline-start: 0 !important;

    .rvo-header__logo-link {
      overflow: visible;
      width: auto;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  .rvo-header__logo-link {
    overflow: visible;
  }

  // Fix table alignment in preview page
  .markdown table th.rvo-table-cell--numeric,
  .markdown table td.rvo-table-cell--numeric {
    text-align: end;
  }

  // Fix table width on webkit
  table {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  @media (min-width: 997px) {
    main > .container .row {
      gap: var(--rvo-space-xl);
    }
  }

  aside.theme-doc-sidebar-container {
    background-color: var(--rvo-sidebar-layout-sidebar-background-color);
    border: none;
    min-height: calc(100vh - 244px);
  }

  table tr:nth-child(2n) {
    background-color: unset;
  }

  .componentExample_Qbwy p {
    margin-block-end: 16px !important;
  }
}
