.rvo-layout-column {
  display: flex;
  flex-direction: column;
}

.rvo-layout-column-inline {
  display: inline-flex;
  flex-direction: column;
}

.rvo-layout-row {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.rvo-layout-row-inline {
  display: inline-flex;
  flex-direction: row;
}

.rvo-layout-align-items-start {
  align-items: flex-start;
}

.rvo-layout-align-items-center {
  align-items: center;
}

.rvo-layout-align-items-end {
  align-items: flex-end;
}

.rvo-layout-align-content-start {
  align-content: flex-start;
}

.rvo-layout-align-content-center {
  align-content: center;
}

.rvo-layout-align-content-end {
  align-content: flex-end;
}

.rvo-layout-align-content-space-between {
  align-content: space-between;
}

.rvo-layout-justify-items-start {
  justify-items: flex-start;
}

.rvo-layout-justify-items-center {
  justify-items: center;
}

.rvo-layout-justify-items-end {
  justify-items: flex-end;
}

.rvo-layout-justify-content-start {
  justify-content: flex-start;
}

.rvo-layout-justify-content-center {
  justify-content: center;
}

.rvo-layout-justify-content-end {
  justify-content: flex-end;
}

.rvo-layout-justify-content-space-between {
  justify-content: space-between;
}

.rvo-layout--wrap {
  flex-wrap: wrap;
}

.rvo-layout-gap--0 {
  gap: 0;
}

.rvo-layout-gap--2xs {
  gap: var(--rvo-space-3xs);
}

.rvo-layout-gap--xs {
  gap: var(--rvo-space-2xs);
}

.rvo-layout-gap--sm {
  gap: var(--rvo-space-xs);
}

.rvo-layout-gap--md {
  gap: var(--rvo-space-md);
}

.rvo-layout-gap--lg {
  gap: var(--rvo-space-lg);
}

.rvo-layout-gap--xl {
  gap: var(--rvo-space-xl);
}

.rvo-layout-gap--2xl {
  gap: var(--rvo-space-2xl);
}

.rvo-layout-gap--3xl {
  gap: var(--rvo-space-3xl);
}

.rvo-layout-gap--4xl {
  gap: var(--rvo-space-4xl);
}

// Horizontal margin

.rvo-layout-margin-horizontal--3xs {
  margin-inline: var(--rvo-space-3xs);
}

.rvo-layout-margin-horizontal--2xs {
  margin-inline: var(--rvo-space-2xs);
}

.rvo-layout-margin-horizontal--xs {
  margin-inline: var(--rvo-space-xs);
}

.rvo-layout-margin-horizontal--sm {
  margin-inline: var(--rvo-space-sm);
}

.rvo-layout-margin-horizontal--md {
  margin-inline: var(--rvo-space-md);
}

.rvo-layout-margin-horizontal--lg {
  margin-inline: var(--rvo-space-lg);
}

.rvo-layout-margin-horizontal--xl {
  margin-inline: var(--rvo-space-xl);
}

.rvo-layout-margin-horizontal--2xl {
  margin-inline: var(--rvo-space-2xl);
}

.rvo-layout-margin-horizontal--3xl {
  margin-inline: var(--rvo-space-3xl);
}

.rvo-layout-margin-horizontal--4xl {
  margin-inline: var(--rvo-space-4xl);
}

// Vertical margin

.rvo-layout-margin-vertical--3xs {
  margin-block: var(--rvo-space-3xs);
}

.rvo-layout-margin-vertical--2xs {
  margin-block: var(--rvo-space-2xs);
}

.rvo-layout-margin-vertical--xs {
  margin-block: var(--rvo-space-xs);
}

.rvo-layout-margin-vertical--sm {
  margin-block: var(--rvo-space-sm);
}

.rvo-layout-margin-vertical--md {
  margin-block: var(--rvo-space-md);
}

.rvo-layout-margin-vertical--lg {
  margin-block: var(--rvo-space-lg);
}

.rvo-layout-margin-vertical--xl {
  margin-block: var(--rvo-space-xl);
}

.rvo-layout-margin-vertical--2xl {
  margin-block: var(--rvo-space-2xl);
}

.rvo-layout-margin-vertical--3xl {
  margin-block: var(--rvo-space-3xl);
}

.rvo-layout-margin-vertical--4xl {
  margin-block: var(--rvo-space-4xl);
}
