.utrecht-heading-1 {
  line-height: var(--rvo-heading-1-line-height, var(--utrecht-heading-1-line-height));
}

.utrecht-heading-2 {
  line-height: var(--rvo-heading-2-line-height, var(--utrecht-heading-2-line-height));
}

.utrecht-heading-3 {
  line-height: var(--rvo-heading-3-line-height, var(--utrecht-heading-3-line-height));
}

.utrecht-heading-4 {
  line-height: var(--rvo-heading-4-line-height, var(--utrecht-heading-4-line-height));
}

.utrecht-heading-5 {
  line-height: var(--rvo-heading-5-line-height, var(--utrecht-heading-5-line-height));
}

.utrecht-heading-6 {
  line-height: var(--rvo-heading-6-line-height, var(--utrecht-heading-6-line-height));
}
