@import "../layout-column-row/index";

// Mobile
.rvo-mobile-menu {
  display: flex;
  flex-direction: column;
  font-family: var(--rvo-mobile-menu-font-family);

  &.rvo-mobile-menu--sm {
    font-size: var(--rvo-mobile-menu-sm-font-size);
  }

  &.rvo-mobile-menu--md {
    font-size: var(--rvo-mobile-menu-md-font-size);
  }

  &.rvo-mobile-menu--lg {
    font-size: var(--rvo-mobile-menu-lg-font-size);
  }

  .rvo-mobile-menu__toggle {
    --utrecht-button-color: var(--rvo-mobile-menu-toggle-color, --rvo-mobile-menu-link-color);
    --utrecht-button-hover-color: var(--rvo-mobile-menu-toggle-hover-color, --rvo-mobile-menu-link-hover-color);
    --utrecht-button-active-color: var(--rvo-mobile-menu-toggle-active-color, --utrecht-mobile-menu-link-active-color);
    --utrecht-button-background-color: var(--rvo-mobile-menu-toggle-background-color);
    --utrecht-button-hover-background-color: var(--rvo-mobile-menu-toggle-background-color);

    cursor: pointer;
    display: flex;
    font-size: inherit;
    justify-content: var(--rvo-mobile-menu-toggle-justify-content);
    outline: none !important;
    padding-block-end: var(--rvo-mobile-menu-toggle-padding-block-end);
    padding-block-start: var(--rvo-mobile-menu-toggle-padding-block-start);
    padding-inline-end: var(--rvo-mobile-menu-toggle-padding-inline-end);
    padding-inline-start: var(--rvo-mobile-menu-toggle-padding-inline-start);
    width: var(--rvo-mobile-menu-toggle-width);

    @extend .rvo-layout-row;
    @extend .rvo-layout-gap--sm;
  }

  .rvo-topnav {
    background-color: var(--rvo-mobile-menu-topnav-background-color);
    display: flex;
    flex-direction: column;
    height: var(--rvo-mobile-menu-topnav-height);
    padding-block-end: var(--rvo-mobile-menu-topnav-padding-block-end);
    padding-block-start: var(--rvo-mobile-menu-topnav-padding-block-start);
    padding-inline-end: var(--rvo-mobile-menu-topnav-padding-inline-end);
    padding-inline-start: var(--rvo-mobile-menu-topnav-padding-inline-start);
    width: var(--rvo-mobile-menu-topnav-width);
  }

  + .rvo-topnav__background {
    display: none;
  }

  .rvo-topnav__background {
    background-color: var(--rvo-mobile-menu-bg-background-color);
    height: var(--rvo-mobile-menu-bg-height);
    left: var(--rvo-mobile-menu-bg-left);
    position: var(--rvo-mobile-menu-bg-position, static);
    top: var(--rvo-mobile-menu-bg-top);
    width: var(--rvo-mobile-menu-bg-width);
    z-index: 9998;
  }

  .rvo-topnav__icon {
    --utrecht-icon-color: var(--rvo-mobile-menu-item-link-color);
  }

  .utrecht-topnav__link {
    --utrecht-topnav-link-focus-background-color: var(--rvo-mobile-menu-item-link-focus-background-color);
    &:focus {
      background-color: var(--rvo-mobile-menu-item-link-focus-background-color);
    }

    color: var(--rvo-mobile-menu-item-link-color);
    width: var(--rvo-mobile-menu-item-link-width, 100%);
  }

  .rvo-mobile-menu__open-icon,
  .rvo-mobile-menu__close-icon {
    --utrecht-icon-color: var(--rvo-mobile-menu-toggle-icon-color);
  }

  &.rvo-mobile-menu--open {
    .rvo-mobile-menu__close-icon {
      display: block;
      left: var(--rvo-mobile-menu-toggle-override-close-icon-left);
      position: var(--rvo-mobile-menu-toggle-override-close-icon-position);
      top: var(--rvo-mobile-menu-toggle-override-close-icon-top);
      z-index: var(--rvo-mobile-menu-toggle-override-close-icon-z-index);
    }

    .rvo-mobile-menu__open-icon {
      display: none;
    }
  }

  &.rvo-mobile-menu--closed {
    .rvo-mobile-menu__open-icon {
      display: block;
    }

    .rvo-mobile-menu__close-icon {
      display: none;
    }
  }

  &.rvo-mobile-menu--sm.rvo-mobile-menu--open {
    .rvo-mobile-menu__close-icon {
      margin-inline-start: calc(var(--rvo-space-md) * -1);
    }
  }

  .utrecht-topnav__list {
    align-items: var(--rvo-mobile-menu-list-align-items, flex-start);
    flex-direction: var(--rvo-mobile-menu-list-flex-direction, column);
  }

  .utrecht-topnav__item {
    display: inline-flex;
    position: relative;
    text-align: start;
    width: var(--rvo-mobile-menu-item-width);

    .rvo-icon {
      --utrecht-icon-color: var(--rvo-mobile-menu-item-icon-color);
    }
  }

  .utrecht-topnav__item--align-right {
    margin-inline-start: 0;
  }

  .utrecht-topnav__item--sub {
    background-color: var(--rvo-mobile-menu-submenu-background-color);

    .utrecht-topnav__link {
      padding-inline-start: var(--rvo-mobile-menu-submenu-padding-inline-start);
    }
  }

  .utrecht-topnav__item--active::before {
    background-color: var(--rvo-mobile-menu-item-active-indicator-background-color);
    border-radius: var(--rvo-mobile-menu-item-active-indicator-border-radius);
    content: var(--rvo-mobile-menu-item-active-indicator-content);
    display: var(--rvo-mobile-menu-item-active-indicator-display);
    height: var(--rvo-mobile-menu-item-active-indicator-height);
    position: var(--rvo-mobile-menu-item-active-indicator-position);
    top: var(--rvo-mobile-menu-item-active-indicator-top);
    width: var(--rvo-mobile-menu-item-active-indicator-width);
  }
}
