@import "../layout-column-row/index";

// Mobile
.rvo-mobile-menu {
  display: flex;
  flex-direction: column;
  font-family: var(--rvo-mobile-menu-font-family);

  &.rvo-mobile-menu--sm {
    font-size: var(--rvo-mobile-menu-sm-font-size);
  }

  &.rvo-mobile-menu--md {
    font-size: var(--rvo-mobile-menu-md-font-size);
  }

  &.rvo-mobile-menu--lg {
    font-size: var(--rvo-mobile-menu-lg-font-size);
  }

  &.rvo-mobile-menu--horizontal-rule {
    border-bottom-color: var(--rvo-mobile-menu-horizontal-rule-border-bottom-color);
    border-bottom-style: var(--rvo-mobile-menu-horizontal-rule-border-bottom-style);
    border-bottom-width: var(--rvo-mobile-menu-horizontal-rule-border-bottom-width);
  }

  .rvo-mobile-menu__toggle {
    --utrecht-button-color: var(--rvo-mobile-menu-toggle-color, --rvo-mobile-menu-link-color);
    --utrecht-button-hover-color: var(--rvo-mobile-menu-toggle-hover-color, --rvo-mobile-menu-link-hover-color);
    --utrecht-button-active-color: var(--rvo-mobile-menu-toggle-active-color, --utrecht-mobile-menu-link-active-color);
    --utrecht-button-background-color: var(--rvo-mobile-menu-toggle-background-color);
    --utrecht-button-hover-background-color: var(--rvo-mobile-menu-toggle-background-color);

    align-self: var(--rvo-mobile-menu-toggle-align-self);
    cursor: pointer;
    display: flex;
    font-size: inherit;
    font-weight: var(--rvo-mobile-menu-toggle-font-weight);
    justify-content: var(--rvo-mobile-menu-toggle-justify-content);
    outline: none !important;
    padding-block-end: var(--rvo-mobile-menu-toggle-padding-block-end);
    padding-block-start: var(--rvo-mobile-menu-toggle-padding-block-start);
    padding-inline-end: var(--rvo-mobile-menu-toggle-padding-inline-end);
    padding-inline-start: var(--rvo-mobile-menu-toggle-padding-inline-start);
    width: var(--rvo-mobile-menu-toggle-width);

    @extend .rvo-layout-row;
    @extend .rvo-layout-gap--sm;
  }

  .rvo-topnav {
    background-color: var(--rvo-mobile-menu-topnav-background-color);
    display: flex;
    flex-direction: column;
    height: var(--rvo-mobile-menu-topnav-height);
    left: 0;
    min-width: var(--rvo-mobile-menu-topnav-min-width);
    overflow-y: auto;
    padding-block-end: var(--rvo-mobile-menu-topnav-padding-block-end);
    padding-block-start: var(--rvo-mobile-menu-topnav-padding-block-start);
    padding-inline-end: var(--rvo-mobile-menu-topnav-padding-inline-end);
    padding-inline-start: var(--rvo-mobile-menu-topnav-padding-inline-start);
    position: fixed;
    top: 0;
    width: var(--rvo-mobile-menu-topnav-width);
    z-index: 2;
  }

  .rvo-topnav__background::before {
    background-color: var(--rvo-mobile-menu-bg-background-color);
    content: "";
    display: block;
    height: var(--rvo-mobile-menu-bg-height);
    left: var(--rvo-mobile-menu-bg-left);
    position: var(--rvo-mobile-menu-bg-position, static);
    top: var(--rvo-mobile-menu-bg-top);
    width: var(--rvo-mobile-menu-bg-width);
    z-index: 2;
  }

  .rvo-mobile-menu__open-icon,
  .rvo-mobile-menu__close-icon {
    --utrecht-icon-color: var(--rvo-mobile-menu-toggle-icon-color);
  }

  &.rvo-mobile-menu--open {
    .rvo-mobile-menu__close-icon {
      align-self: flex-end;
      cursor: pointer;
    }
  }

  &.rvo-mobile-menu--sm.rvo-mobile-menu--open {
    .rvo-mobile-menu__close-icon {
      margin-inline-start: calc(var(--rvo-space-md) * -1);
    }
  }

  .rvo-topnav__list {
    align-items: var(--rvo-mobile-menu-list-align-items, flex-start);
    flex-direction: var(--rvo-mobile-menu-list-flex-direction, column);
    gap: var(--rvo-mobile-menu-list-gap);
    margin-block-start: var(--rvo-mobile-menu-list-margin-block-start);

    .rvo-topnav__item {
      display: inline-flex;
      position: relative;
      text-align: start;
      width: var(--rvo-mobile-menu-item-width);

      &.rvo-topnav__item--align-right {
        margin-inline-start: 0;
      }

      &.rvo-topnav__item--sub {
        background-color: var(--rvo-mobile-menu-submenu-background-color);

        .rvo-topnav__link {
          padding-inline-start: var(--rvo-mobile-menu-submenu-link-padding-inline-start);

          &::before {
            background-color: var(--rvo-mobile-menu-item-active-indicator-background-color);
            border-radius: var(--rvo-mobile-menu-item-active-indicator-border-radius);
            content: "";
            height: var(--rvo-mobile-menu-item-active-indicator-height);
            opacity: 0%;
            width: var(--rvo-mobile-menu-item-active-indicator-width);
          }
        }

        &.rvo-topnav__item--active .rvo-topnav__link {
          padding-inline-start: var(--rvo-mobile-menu-submenu-link-active-padding-inline-start);
        }
      }

      &.rvo-topnav__item--with-divider {
        border-left: 0 !important;
        border-top-color: var(--rvo-mobile-menu-item-divider-border-color);
        border-top-style: var(--rvo-mobile-menu-item-divider-border-style);
        border-top-width: var(--rvo-mobile-menu-item-divider-border-width);
        margin-block-start: var(--rvo-mobile-menu-item-divider-margin-block-start);
        margin-inline-start: 0 !important;
        padding-block-start: var(--rvo-mobile-menu-item-divider-padding-block-start);
        padding-inline-start: 0 !important;
      }

      &.rvo-topnav__item--active {
        .rvo-topnav__link {
          font-weight: var(--rvo-mobile-menu-item-active-font-weight);

          &:hover {
            font-weight: var(--rvo-mobile-menu-item-active-font-weight);
          }
        }

        &:not(.rvo-topnav__item--sub) .rvo-topnav__link::before {
          background-color: var(--rvo-mobile-menu-item-active-indicator-background-color);
          border-radius: var(--rvo-mobile-menu-item-active-indicator-border-radius);
          content: "";
          height: var(--rvo-mobile-menu-item-active-indicator-height);
          left: var(--rvo-mobile-menu-item-active-indicator-offset);
          opacity: 100%;
          position: absolute;
          width: var(--rvo-mobile-menu-item-active-indicator-width);
        }
      }

      .rvo-topnav__link {
        --utrecht-topnav-link-focus-background-color: var(--rvo-mobile-menu-item-link-focus-background-color);
        --utrecht-icon-color: var(--rvo-mobile-menu-item-link-color);

        color: var(--rvo-mobile-menu-item-link-color);
        font-weight: var(--rvo-mobile-menu-item-link-font-weight);
        padding-block-end: var(--rvo-mobile-menu-item-link-padding-block-end);
        padding-block-start: var(--rvo-mobile-menu-item-link-padding-block-start);
        padding-inline-end: var(--rvo-mobile-menu-item-link-padding-inline-end);
        padding-inline-start: var(--rvo-mobile-menu-item-link-padding-inline-start);
        width: var(--rvo-mobile-menu-item-link-width, 100%);

        &:hover {
          color: var(--rvo-mobile-menu-item-link-hover-color);
          font-weight: var(--rvo-mobile-menu-item-link-hover-font-weight);
          text-decoration: var(--rvo-mobile-menu-item-link-hover-text-decoration);
        }

        &:active {
          color: var(--rvo-mobile-menu-item-link-active-color);
          font-weight: var(--rvo-mobile-menu-item-link-active-font-weight);
        }

        &:focus {
          background-color: var(--rvo-mobile-menu-item-link-focus-background-color);
          font-weight: var(--rvo-mobile-menu-item-link-focus-font-weight);
        }

        .rvo-icon {
          --utrecht-icon-color: var(--rvo-mobile-menu-item-icon-color);
        }
      }
    }
  }
}
