@use "../../layout-flow/src/" as layoutFlow;

// Mobile
.rvo-mobile-navbar {
  display: flex;
  flex-direction: column;
  font-family: var(--rvo-mobile-menu-font-family);
  width: var(--rvo-mobile-menu-item-width);

  &.rvo-mobile-navbar--sm {
    font-size: var(--rvo-mobile-menu-sm-font-size);
  }

  &.rvo-mobile-navbar--md {
    font-size: var(--rvo-mobile-menu-md-font-size);
  }

  &.rvo-mobile-navbar--lg {
    font-size: var(--rvo-mobile-menu-lg-font-size);
  }

  &.rvo-mobile-navbar--horizontal-rule {
    border-bottom-color: var(--rvo-mobile-menu-horizontal-rule-border-bottom-color);
    border-bottom-style: var(--rvo-mobile-menu-horizontal-rule-border-bottom-style);
    border-bottom-width: var(--rvo-mobile-menu-horizontal-rule-border-bottom-width);
  }

  .rvo-mobile-navbar__toggle {
    --utrecht-button-color: var(--rvo-mobile-menu-toggle-color, --rvo-mobile-menu-link-color);
    --utrecht-button-hover-color: var(--rvo-mobile-menu-toggle-hover-color, --rvo-mobile-menu-link-hover-color);
    --utrecht-button-active-color: var(--rvo-mobile-menu-toggle-active-color, --utrecht-mobile-menu-link-active-color);
    --utrecht-button-background-color: var(--rvo-mobile-menu-toggle-background-color);
    --utrecht-button-hover-background-color: var(--rvo-mobile-menu-toggle-background-color);

    align-self: var(--rvo-mobile-menu-toggle-align-self);
    cursor: pointer;
    display: flex;
    font-size: inherit;
    font-weight: var(--rvo-mobile-menu-toggle-font-weight);
    justify-content: var(--rvo-mobile-menu-toggle-justify-content);
    outline: none !important;
    padding-block-end: var(--rvo-mobile-menu-toggle-padding-block-end);
    padding-block-start: var(--rvo-mobile-menu-toggle-padding-block-start);
    padding-inline-end: var(--rvo-mobile-menu-toggle-padding-inline-end);
    padding-inline-start: var(--rvo-mobile-menu-toggle-padding-inline-start);
    width: var(--rvo-mobile-menu-toggle-width);

    @extend .rvo-layout-row;
    @extend .rvo-layout-gap--sm;
  }

  .rvo-mobile-navbar__open-icon {
    --utrecht-icon-color: var(--rvo-mobile-menu-toggle-icon-color);
  }

  .rvo-mobilenav__item--with-divider {
    border-top-color: var(--rvo-topnav-item-divider-border-color);
    border-top-style: var(--rvo-topnav-item-divider-border-style);
    border-top-width: var(--rvo-topnav-item-divider-border-width);
    margin-block-start: var(--rvo-topnav-item-divider-margin-inline-start);
    padding-block-start: var(--rvo-topnav-item-divider-padding-inline-start);
    width: var(--rvo-mobile-menu-item-width);
  }

  .rvo-mobile-item__list {
    align-items: var(--rvo-mobile-menu-list-align-items, flex-start);
    display: flex;
    flex-direction: var(--rvo-mobile-menu-list-flex-direction, column);
    flex-wrap: wrap;
    gap: var(--rvo-mobile-menu-list-gap);
    justify-content: normal;
    list-style-type: none;
    margin-block-start: var(--rvo-mobile-menu-list-margin-block-start);
    padding-inline-start: 0;
  }

  .rvo-mobile-submenu__list {
    display: flex;
    flex-direction: var(--rvo-mobile-menu-list-flex-direction, column);
    gap: var(--rvo-space-sm);
    list-style-type: none;
    margin-top: var(--rvo-space-sm);
  }

  .rvo-mobilenav__link {
    align-items: center;
    color: var(--rvo-mobile-menu-item-link-color);
    font-weight: var(--rvo-topnav-item-link-font-weight);
    gap: var(--rvo-space-sm);
    text-decoration-line: var(--rvo-topnav-item-link-text-decoration);

    &:hover {
      color: var(--rvo-mobile-menu-item-link-hover-color);
      font-weight: var(--rvo-mobile-menu-item-link-hover-font-weight);
      text-decoration: var(--rvo-mobile-menu-item-link-hover-text-decoration);
    }
  }

  .rvo-mobilenav__link--active {
    font-weight: var(--rvo-topnav-item-active-font-weight);

    &:hover {
      font-weight: var(--rvo-topnav-item-active-font-weight) !important;
    }
  }
}
