.rvo-theme,
.rvo-rijkshuisstijl {
  background-color: var(--utrecht-document-background-color);
  color: var(--utrecht-document-color);
  font-family: var(--utrecht-document-font-family);
  font-size: var(--utrecht-document-font-size);
  font-weight: var(--utrecht-document-font-weight);
  line-height: var(--utrecht-document-line-height);
}
