@font-face {
  font-family: "RijksoverheidSansWebText";
  font-stretch: 75% 125%;
  font-style: normal;
  font-weight: 200 800;
  src: url("./RijksSansWeb-Regular.woff2") format("woff2-variations");
}

@font-face {
  font-family: "RijksoverheidSansWebText";
  font-stretch: 75% 125%;
  font-style: italic;
  font-weight: 200 800;
  src: url("./RijksSansWeb-Italic.woff2") format("woff2-variations");
}

@font-face {
  font-family: "RijksoverheidSerifWeb";
  font-style: normal;
  font-weight: 400;
  src: url("./ROserifwebregular.woff") format("woff");
}

@font-face {
  font-family: "RijksoverheidSerifWeb";
  font-style: italic;
  font-weight: 400;
  src: url("./ROserifwebitalic.woff") format("woff");
}

@font-face {
  font-family: "RijksoverheidSerifWeb";
  font-style: normal;
  font-weight: 700;
  src: url("./ROserifwebbold.woff") format("woff");
}
