.rvo-checkbox-filter {
  &__label {
    color: var(--rvo-color-logoblauw);
    cursor: pointer;
    display: flex;
    font-size: var(--rvo-font-size-lg);
    font-weight: var(--rvo-font-weight-bold);
    gap: var(--rvo-space-xs);
    list-style: none;
  }

  &__checkbox-container {
    margin-block-end: var(--rvo-space-xs);
    margin-block-start: var(--rvo-space-2xs);
  }
}
