.rvo-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--rvo-space-sm);
  padding-block-end: var(--rvo-space-md);
  padding-block-start: var(--rvo-space-md);
  padding-inline-end: var(--rvo-space-md);
  padding-inline-start: var(--rvo-space-md);
  min-height: 200px;
  background-color: var(--rvo-color-grijs-050);

  &--overlay {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    &--animated {
      animation-duration: 3000ms;
      animation-iteration-count: infinite;
      animation-name: rvo-rotate;
    }
  }

  &__warning {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--rvo-space-xs);
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--rvo-space-md);
  }
}

@keyframes rvo-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
