.rvo-cmor {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;

  .rvo-header {
    display: flex;
    justify-content: center;
  }

  /* @Navigation */

  .rvo-topnav {
    /* Hide topnav on smaller screens */
    display: none;

    @media (min-width: 780px) {
      display: block;
    }
  }

  .rvo-responsive-menu .rvo-topnav {
    display: flex;
  }

  @media (min-width: 780px) {
    .rvo-main--sidebar-active {
      display: grid;
      grid-template-columns: 240px 1fr;
    }

    // Hide responsive menu
    .rvo-responsive-menu-wrapper {
      display: none !important;
    }
  }

  @media (min-width: 1080px) {
    .rvo-main--sidebar-active {
      grid-template-columns: 288px 1fr;
    }
  }

  .rvo-content--cmor {
    background-color: var(--rvo-color-wit);
    padding-block-end: var(--rvo-space-xl);
    padding-block-start: var(--rvo-space-xl);
    padding-inline-end: var(--rvo-space-xl);
    padding-inline-start: var(--rvo-space-xl);

    @media (min-width: 1080px) {
      padding-block-end: var(--rvo-space-3xl);
      padding-block-start: var(--rvo-space-3xl);
      padding-inline-end: var(--rvo-space-3xl);
      padding-inline-start: var(--rvo-space-3xl);
    }

    .utrecht-heading-1 {
      /* Heading has bold and non bold text in CMOR design */
      font-weight: var(--rvo-font-weight-regular);

      /* negative margin-block-start to get the same visual height as the start of the sidebar menu: is this the best way? */
      margin-block-start: -5px;
    }
  }

  .rvo-alert--space-lg {
    padding-block-end: var(--rvo-space-xl);
    padding-block-start: var(--rvo-space-xl);
    padding-inline-end: var(--rvo-space-xl);
    padding-inline-start: var(--rvo-space-xl);
  }

  .rvo-reminders {
    max-width: 408px;

    .rvo-alert p {
      font-size: var(--rvo-font-size-sm);
      margin-block-end: var(--rvo-space-xs);
      margin-block-start: 0;
    }
  }
}
