.rvo-filter-body {
  main,
  .rvo-filter-wrapper {
    padding-inline-end: var(--rvo-space-md);
    padding-inline-start: var(--rvo-space-md);
  }

  .rvo-topnav__list:not(.rvo-topnav__list--vertical, .rvo-topnav--sub .rvo-topnav__list)
    .rvo-topnav__item:first-child
    .rvo-topnav__link {
    padding-inline-start: var(--rvo-space-md);
  }

  .rvo-filter-wrapper > .rvo-layout-row {
    align-items: baseline;
    display: grid;
    gap: var(--rvo-space-xl);

    @media (min-width: 800px) {
      grid-template-columns: 300px 2fr;
    }
  }

  .rvo-collapsible-filter {
    .rvo-collapsible-filter-label {
      color: var(--rvo-color-logoblauw);
      cursor: pointer;
      display: flex;
      font-size: var(--rvo-font-size-lg);
      font-weight: var(--rvo-font-weight-bold);
      gap: var(--rvo-space-xs);
      list-style: none;

      &::marker,
      &::-webkit-details-marker {
        display: none;
      }
    }

    .rvo-collapsible-filter-label::after {
      background-color: var(--rvo-expandable-text-summary-icon-background-color);
      content: "";
      display: inline-block;
      height: 16px;
      margin-block-start: 4px;
      -webkit-mask-image: var(--rvo-icon-delta-omhoog);
      mask-image: var(--rvo-icon-delta-omhoog);
      -webkit-mask-position: center center;
      mask-position: center center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: 100%;
      mask-size: 100%;
      min-width: 10px;
      width: 10px;
    }

    .rvo-collapsible-filter-header .utrecht-heading-3 {
      color: var(--rvo-color-logoblauw);
    }

    .rvo-collapsible-filter-header::after {
      height: 12px;
      margin-block-start: 8px;
      width: 14px;
    }
  }

  .rvo-collapsible-filter--scroll {
    max-height: 200px;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-color: var(--rvo-color-grijs-500) var(--rvo-color-grijs-200);
  }

  .rvo-filter .utrecht-form-field--text {
    margin-block-end: var(--rvo-space-xs);
  }

  // .utrecht-form-field + .rvo-collapsible-filter .rvo-collapsible-filter-label {
  //   font-weight: var(--rvo-font-weight-regular);
  //   gap: var(--rvo-space-2xs);

  //   .rvo-icon {
  //     margin-block-start: 3px;
  //   }

  //   &::after {
  //     display: none;
  //   }
  // }

  .rvo-collapsible-filter[open] > .rvo-collapsible-filter-label::after {
    -webkit-mask-image: var(--rvo-icon-delta-omlaag);
    mask-image: var(--rvo-icon-delta-omlaag);
  }

  .rvo-project-details {
    font-size: var(--rvo-font-size-sm);
  }

  .rvo-filter .rvo-hr {
    margin-block-end: 0;
    margin-block-start: var(--rvo-space-md);
  }

  .rvo-collapsible-filter-label + * {
    margin-block-start: var(--rvo-space-2xs);
  }

  .rvo-tag .rvo-icon {
    background-color: var(--rvo-color-zwart);
    cursor: pointer;
  }

  .rvo-inline-sort {
    .rvo-form-field {
      align-items: center;
      flex-direction: row;
    }
  }
}
