.rvo-image-lines {
  .rvo-hero__image-container,
  .rvo-card__image-container,
  .rvo-footer__container {
    overflow: hidden;
    position: relative;

    &::after {
      border: 2px solid #fff;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }

  .rvo-hero .rvo-hero__content {
    background-color: var(--rvo-color-lichtblauw);
  }

  .rvo-hero .rvo-hero__title {
    color: var(--rvo-color-lintblauw);
  }

  .rvo-hero__image-container::after {
    border-end-start-radius: 32px;
    inset-block-start: -50%;
    inset-inline-end: -50%;
  }

  .rvo-layout-grid .rvo-card:nth-child(odd) {
    .rvo-card__image-container::after {
      border-end-start-radius: 32px;
      inset-block-end: 50%;
      inset-inline-start: 50%;
    }
  }

  .rvo-layout-grid .rvo-card:nth-child(even) {
    .rvo-card__image-container::after {
      border-start-end-radius: 32px;
      inset-block-start: 50%;
      inset-inline-end: 50%;
    }
  }
}
