.rvo-loading-demopage {
  .rvo-loading-canvas {
    align-items: center;
    background-color: var(--rvo-color-grijs-050);
    display: flex;
    flex-direction: column;
    gap: var(--rvo-space-sm);
    justify-content: center;
    min-height: 200px;
    padding-block-end: var(--rvo-space-md);
    padding-block-start: var(--rvo-space-md);
    padding-inline-end: var(--rvo-space-md);
    padding-inline-start: var(--rvo-space-md);
  }

  .rvo-loading-canvas-animate .rvo-icon {
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-name: rvo-rotate;
  }

  @keyframes rvo-rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
