.rvo-mijn-percelen {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;

  .rvo-header {
    display: flex;
    justify-content: center;
  }

  .rvo-logo {
    margin-inline-start: 250px;
  }
}
