.rvo-tabs-demopage {
  .rvo-tabs-navigation {
    margin-block-end: var(--rvo-space-sm);

    @media (min-width: 600px) {
      border-bottom: 2px solid var(--rvo-color-grijs-300);
      display: inline-flex;
    }

    li::before {
      @media (min-width: 600px) {
        display: none;
      }
    }
  }

  .rvo-tabs-navigation-link {
    &.rvo-tabs-navigation-link--active {
      color: var(--rvo-color-hemelblauw);
      font-weight: var(--rvo-font-weight-bold);

      @media (min-width: 600px) {
        border-bottom: 2px solid var(--rvo-color-hemelblauw);
      }
    }

    @media (min-width: 600px) {
      border-bottom: 2px solid var(--rvo-color-grijs-300);
      color: var(--rvo-color-grijs-800);
      margin-block-end: -1px;
      padding-block-end: var(--rvo-space-xs);
      padding-inline-end: var(--rvo-space-md);
      padding-inline-start: var(--rvo-space-md);
      text-decoration: none;
    }

    &:hover,
    &:active {
      @media (min-width: 600px) {
        border-bottom: 2px solid var(--rvo-color-grijs-800);
        color: var(--rvo-color-grijs-800);
      }
    }
  }
}
