.rvo-www {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;

  .rvo-header {
    display: flex;
    justify-content: center;
  }

  // NAVIGATION //

  .rvo-topnav {
    /* Hide topnav on smaller screens */
    display: none;

    @media (min-width: 780px) {
      display: block;
    }
  }

  .rvo-responsive-menu .rvo-topnav {
    display: flex;
  }

  // MAIN //

  .rvo-main--www {
    padding-block-end: var(--rvo-space-md);
    padding-block-start: var(--rvo-space-md);
    padding-inline-end: var(--rvo-space-md);
    padding-inline-start: var(--rvo-space-md);
  }

  // HEADING //

  .rvo-heading-subtitle {
    display: block;
    font-size: var(--rvo-font-size-lg);
    font-style: italic;
    font-weight: var(--rvo-font-weight-normal);
  }
}
